@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<VLUTUTORS.Models.Taikhoanadmin, IEnumerable<VLUTUTORS.Models.Taikhoanadmin>>
@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-center text-center text-uppercase">
                <div class="col-sm-6">
                    <h1>Quản lý tài khoản</h1>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <a class="btn btn-primary btn-sm"
                       href="~/Admin/ManageAccounts/AddNewAccounts">
                        <i class="fas fa-plus"> </i>
                        Thêm tài khoản
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects" id="myTable">
                    <thead>
                        <tr>
                            <th style="width: 1%">#</th>
                            <th style="width: 20%">Username</th>
                            <th style="width: 20%">Mật Khẩu</th>
                            <th style="width: 20%">Quyền</th>
                            <th style="width: 20%">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 0;
                            foreach (var item in Model.Item2)
                            {
                                index++;
                                <tr>
                                    <td>
                                        @index
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TaiKhoan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MatKhau)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quyen)
                                    </td>
                                    <td class="project-actions">
                                        <a class="btn btn-sm"
                                           asp-action="EditAccounts" asp-controller="ManageAccounts" asp-route-id="@item.Id">
                                            <i class="fas fa-pen"> </i>
                                            
                                        </a>
                                        <a class="btn btn-sm"
                                           data-toggle="modal"
                                           data-target="#exampleModal"
                                           onclick="document.getElementById('accountID').value = @item.Id">
                                            <i class="fas fa-trash"> </i>
                                            
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <div class="modal fade"
         id="addModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form method="post" enctype="multipart/form-data" asp-controller="ManageAccounts" asp-action="AddNewAccounts">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Thêm tài khoản admin mới
                        </h5>
                    </div>
                    <div class="modal-body">
                        <span class="alert-danger">
                        </span>
                        <div class="form-group">
                            <label for="inputName">Tên đăng nhập</label>
                            <input type="text" id="TaiKhoan" name="TaiKhoan" class="form-control" data-error="Vui lòng điền đủ thông tin!" required />
                        </div>
                        <div class="form-group">
                            <label for="inputName">Mật Khẩu</label>
                            <input type="text" id="MatKhau" name="MatKhau" class="form-control" data-error="Vui lòng điền đủ thông tin!" required />
                        </div>
                        <div class="form-group">
                            <label for="inputName">Quyền</label>
                            @Html.DropDownListFor(model => model.Item1.IdQuyen, Model.Item1.listQuyen, new { @class = "form-control",@id="IdQuyen", @name="IdQuyen" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            Hủy
                        </button>
                        <button type="submit" class="btn btn-5 custom-btn">Xác nhận</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade"
         id="exampleModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form asp-action="DeleteAccounts" method="post" asp-controller="ManageAccounts">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5>Bạn muốn xóa tài khoản này?</h5>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">
                            Hủy
                        </button>
                        <button class="btn btn-5 custom-btn" type="submit">
                            Đồng ý
                        </button>
                    </div>
                </div>
            </div>
            <input type="hidden" id="accountID" name="accountID" />
        </form>
    </div>
    <!-- /.content -->
</div>
@if (TempData["Message"] != null)
{
    <script>
            var messageType = '@TempData["MessageType"]';
        var message = '@TempData["Message"]';

        // Display the message using Toastr library
        if (messageType === "success") {
            toastr.success(message);
        } else if (messageType === "error") {
            toastr.error(message);
        } else if (messageType === "warning") {
            toastr.warning(message);
        } else if (messageType === "info") {
            toastr.info(message);
        }
    </script>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
<script src="~/js/app.js"></script>
<script>
        $(function () {
    // Check for a success message in TempData
    var toastrSuccess = '@(TempData["toastr-success"])';
    if (toastrSuccess) {
        toastr.success(toastrSuccess);
    }

    // Check for an error message in TempData
    var toastrError = '@(TempData["toastr-error"])';
    if (toastrError) {
        toastr.error(toastrError);
    }
});
</script>

