@model IEnumerable<VLUTUTORS.Models.Cahoc>
@{
    ViewData["Title"] = "Quản lý ca học";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-center text-center text-uppercase">
                <div class="col-sm-6">
                    <h1>Quản lý ca học</h1>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách ca học</h3>
                <div class="card-tools d-flex align-items-center justify-content-end">
                    <p class="mb-0"> Chiết khấu (%): </p>
                    <input type="text" class="mr-5 i-half" style="width: 8%"/>

                    
                    <div class="switch d-flex align-items-center">
                        <p class="mb-0">Miễn Phí: &emsp;</p>
                        <input type="checkbox" id="switch" name="switch" class="switch"/>
                        <label data-on="ON" data-off="OFF" for="switch" class="mb-0"></label>
                    </div>
                    <a class="btn btn-primary btn-sm"
                       asp-action="AddTimeClass" asp-controller="ManageTimeClass">
                        <i class="fas fa-plus"> </i>
                        Thêm ca học mới
                    </a>
                </div>
            </div>
            <div class="card-body p-2">
                <table class="table table-striped projects" id="myTable">
                    <thead>
                        <tr>
                            <th style="width: 20%">STT</th>
                            <th style="width: 20%">Loại ca</th>
                            <th style="width: 20%">Giá tiền</th>
                            <th style="width: 15%">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 0;
                            foreach (var item in Model)
                            {
                                index++;
                                <tr>
                                    <td>@index</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LoaiCa) phút
                                    </td>
                                    <td>
                                        @item.GiaTien.ToString("#,##0.###") đồng
                                    </td>
                                    <td class="project-actions">
                                        <a class="btn btn-info btn-sm" asp-action="EditTimeClass" asp-controller="ManageTimeClass" asp-route-id="@item.IdCaHoc">
                                            <i class="fas fa-pencil-alt"> </i>
                                            Sửa
                                        </a>
                                        <a class="btn btn-danger btn-sm"
                                           data-toggle="modal"
                                           data-target="#deleteModal"
                                           onclick="document.getElementById('timeClassID').value = @item.IdCaHoc">
                                            <i class="fas fa-pencil-alt"> </i>
                                            Xóa
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <form asp-action="DeleteTimeClass" method="post" asp-controller="ManageTimeClass">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5>Bạn muốn xóa loại ca học này?</h5>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">
                                Hủy
                            </button>
                            <button class="btn btn-primary" type="submit">
                                Đồng ý
                            </button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="timeClassID" name="timeClassID" />
            </form>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
    @if (TempData["message"] != null)
    {
        <script>alert('@TempData["message"]');</script>
    }
</div>

