@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<VLUTUTORS.Models.Caday>
@using Microsoft.EntityFrameworkCore;
@using VLUTUTORS.Models;
@{
    ViewData["Title"] = "Lịch Sử Dạy";
    Layout = "~/Areas/Tutors/Views/Shared/_TutorsLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý lịch sử gia sư</h1>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="row " id="dropdown-filter">
            <div class="col d-flex">
                <label class="form-label" for="min">Ngày bắt đầu:</label>
                <input type="text"
                       class="form-control-sm"
                       id="min"
                       name="min"
                       style="width: 150px" />
                <label class="form-label ml-3" for="max">Ngày kết thúc:</label>
                <input type="text"
                       id="max"
                       name="max"
                       class="form-control-sm"
                       style="width: 150px" />
            </div>


        </div>
        <table id="myTable">
            <thead>
                <tr>
                    <th class="text-center">Tên Môn Học</th>
                    <th class="text-center">Tên Người Học</th>
                    <th class="text-center">Ngày</th>
                    <th class="text-center">Khung Giờ</th>
                    <th class="text-center">Giá Tiền</th>
                    <th class="text-center">Trạng Thái</th>
                    <th class="text-center">Đánh giá buổi học</th>
                    <th class="text-center">Đánh giá của người học</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lesson in Model)
                {
                    int year = lesson.NgayDay.Year;
                    int month = lesson.NgayDay.Month;
                    int day = lesson.NgayDay.Day;

                    DateTime checkTime = new DateTime(year, month, day, lesson.GioBatDau, lesson.PhutBatDau, 0);
                    if (checkTime < DateTime.Now && lesson.TrangThai != null)
                    {
                        <tr>
                            <td class="text-center">@lesson.tenMonDay</td>
                            <td class="text-center">@lesson.tenNguoiHoc</td>
                            <td class="text-center">@lesson.NgayDay.ToString("dd/MM/yyyy")</td>
                            <td class="text-center">@lesson.GioBatDau:@lesson.PhutBatDau - @lesson.GioKetThuc:@lesson.PhutKetThuc</td>
                            <td class="text-center">@lesson.giaCaDay.ToString("#,##0.###") đồng</td>
                            @{
                                if (lesson.TrangThai == true)
                                {
                                    <td class="done text-center">Đã Học</td>
                                    var danhGiaGS = new CP25Team01Context().Danhgianguoihocs.FirstOrDefault(m => m.IdCaDay == lesson.Id);
                                    if (danhGiaGS != null)
                                    {
                                        <td class="text-center"><button class="btn btn-success btn-sm" style="width:100px">Xem đánh giá</button></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><a asp-controller="ManageTeachHistory" asp-action="RatingLearner" asp-route-id="@lesson.Id" class="btn btn-warning btn-sm" style="width:100px">Đánh giá</a></td>
                                    }
                                    var danhGiaHV = new CP25Team01Context().Danhgiagiasus.FirstOrDefault(m => m.IdCaDay == lesson.Id);
                                    if (danhGiaHV != null)
                                    {
                                        <td class="text-center"><button class="btn btn-success btn-sm" style="width:100px">Xem đánh giá</button></td>
                                    }
                                    else
                                    {
                                        <td class="text-center">Chưa đánh giá</td>
                                    }
                                }
                                else
                                {
                                    <td class="cancel text-center">Đã Huỷ</td>
                                    <td class="text-center">Không có đánh giá</td>
                                    <td class="text-center">Không có đánh giá</td>
                                }

                            }
                        </tr>
                    }
                }

            </tbody>
        </table>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
@section scripts {
    <script>
        var minDate, maxDate;

        // Custom filtering function which will search data in column four between two values
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            console.log(minDate, maxDate);
            var min = minDate.val();
            var max = maxDate.val();
            var date = new Date(data[2]);

            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        });

        $(document).ready(function () {
            // Create date inputs
            minDate = new DateTime($('#min'), {
                format: 'MMMM Do YYYY',
            });
            maxDate = new DateTime($('#max'), {
                format: 'MMMM Do YYYY',
            });

            // DataTables initialisation
            var table = $('#myTable').DataTable();

            // Refilter the table
            $('#min, #max').on('change', function () {
                table.draw();
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#myTable_filter').prepend($('#dropdown-filter')).clone();
            $('#filter-fade').remove();
        })
    </script>
}
