@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<VLUTUTORS.Models.Caday, IEnumerable<VLUTUTORS.Models.Caday>>
@{
    ViewData["Title"] = "Quản lý lịch dạy";
    Layout = "~/Areas/Tutors/Views/Shared/_TutorsLayout.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-between">
                <div class="col-auto mr-auto"><h1>Quản lý lịch dạy</h1></div>
                <button data-toggle="modal"
                        data-target="#exampleModal"
                        class="col-auto btn-success">
                    Thêm lịch dạy
                </button>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- modal Add -->
    <div class="modal fade"
         id="exampleModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form asp-action="AddLessonPlan" asp-controller="ManageTeachSchedule" method="post">
            @Html.HiddenFor(m => m.Item1.IdnguoiDay)
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Thêm lịch dạy
                        </h5>
                        <button type="button"
                                class="close text-right"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="inputName">Tên môn gia sư</label>
                                @Html.DropDownListFor(m => m.Item1.IdmonDay, Model.Item1.subjectItems, new { @class = "form__select" })
                                <span asp-validation-for="Item1.IdmonDay" class="warning"></span>
                            </div>
                            <div>
                                <label for="select-shifts">Loại ca dạy</label>
                                @Html.DropDownListFor(m => m.Item1.IdloaiCaDay, Model.Item1.teachTimeItems, new { @class = "form__select" })
                                <span asp-validation-for="Item1.IdloaiCaDay" class="warning"></span>
                            </div>

                            <div class="form-group">
                                <label for="inputName">Ngày dạy</label>
                                <input type="date" id="inputName" name="inputDate" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="">Chọn Khung Giờ</label>
                                <div id="divCont">
                                    <div class="input-flex">
                                        <input type="time"
                                               id="inputHour"
                                               name="inputHour"
                                               class="form-control form-date" />
                                        <input onclick="AddTextBox()" type="button" value="+" class="btn-add" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            Hủy
                        </button>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="row " id="dropdown-filter">
            <div class="col d-flex">
                <label class="form-label" for="min">Ngày bắt đầu:</label>
                <input type="text"
                       class="form-control-sm"
                       id="min"
                       name="min"
                       style="width: 150px" />
                <label class="form-label ml-3" for="max">Ngày kết thúc:</label>
                <input type="text"
                       id="max"
                       name="max"
                       class="form-control-sm"
                       style="width: 150px" />
            </div>
        </div>
        <!-- Default box -->
        <table id="myTable">
            <thead>
                <tr>
                    <th>Tên Môn Học</th>
                    <th>Ngày</th>
                    <th>Khung Giờ</th>
                    <th>Ca dạy</th>
                    <th>Tình trạng</th>
                    <th class="th-action"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lesson in Model.Item2)
                {
                    if (@lesson.NgayDay >= DateTime.Today)
                    {
                        <tr>
                            <td>@lesson.tenMonDay</td>
                            <td>@lesson.NgayDay.ToString("dd/MM/yyyy")</td>
                            <td>@lesson.GioBatDau:@lesson.PhutBatDau - @lesson.GioKetThuc:@lesson.PhutKetThuc</td>
                            <td>@lesson.tenLoaiCaDay phút</td>
                            @{
                                if (lesson.IdnguoiHoc == null)
                                {
                                    <td>Chưa được đặt</td>
                                }
                                else
                                {
                                    <td style="color:green">Đã được đặt</td>
                                }
                            }
                            @{
                                if (lesson.IdnguoiHoc == null)
                                {
                                    <td class="project-actions">
                                        <a class="btn btn-info btn-sm" style="margin-bottom:5px; width:120px" href="@Url.Action("EditLessonPlan", "ManageTeachSchedule", new { lessonPlanId = @lesson.Id })">
                                            <i class="fas fa-pencil-alt"> </i>
                                            Sửa
                                        </a>
                                        <a class="btn btn-danger btn-sm"
                                           style="width:120px;"
                                           data-toggle="modal"
                                           data-target="#deleteModal"
                                           onclick="document.getElementById('lessonPlanId').value = @lesson.Id">
                                            <i class="fas fa-pencil-alt"> </i>
                                            Hủy
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    if (lesson.NgayDay == DateTime.Today && lesson.PhutBatDau != 0 && lesson.GioBatDau == DateTime.Now.Hour && Math.Abs(lesson.PhutBatDau - DateTime.Now.Minute) <= 15)
                                    {
                                        <td class="project-actions">
                                            <a class="btn btn-success btn-sm" href="@lesson.Link" style="margin-bottom:5px; width:120px">
                                                <i class="fas fa-chalkboard-teacher"> </i>
                                                Tham gia dạy
                                            </a>
                                            <a class="btn btn-danger btn-sm"
                                               style="width:120px;"
                                               data-toggle="modal"
                                               data-target="#deleteModal"
                                               onclick="document.getElementById('lessonPlanId').value = @lesson.Id">
                                                <i class="fas fa-pencil-alt"> </i>
                                                Hủy
                                            </a>
                                        </td>
                                    }
                                    else if (lesson.NgayDay == DateTime.Today && (lesson.PhutBatDau == 0 || (0 < lesson.PhutBatDau) && (lesson.PhutBatDau < 15)) && lesson.GioBatDau - DateTime.Now.Hour == 1 && Math.Abs(lesson.PhutBatDau - DateTime.Now.Minute) >= 45)
                                    {
                                        <td class="project-actions">
                                            <a class="btn btn-success btn-sm" href="@lesson.Link" style="margin-bottom:5px; width:120px;">
                                                <i class="fas fa-chalkboard-teacher"> </i>
                                                Tham gia dạy
                                            </a>
                                            <a class="btn btn-danger btn-sm"
                                               style="width:120px;"
                                               data-toggle="modal"
                                               data-target="#deleteModal"
                                               onclick="document.getElementById('lessonPlanId').value = @lesson.Id">
                                                <i class="fas fa-pencil-alt"> </i>
                                                Hủy
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="project-actions">
                                            <a class="btn btn-danger btn-sm"
                                               style="width:120px;"
                                               data-toggle="modal"
                                               data-target="#deleteModal"
                                               onclick="document.getElementById('lessonPlanId').value = @lesson.Id">
                                                <i class="fas fa-pencil-alt"> </i>
                                                Hủy
                                            </a>
                                        </td>
                                    }
                                }
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>

        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <form asp-action="DeleteLessonPlan" method="post" asp-controller="ManageTeachSchedule">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Bạn muốn xóa ca dạy này?</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Hủy
                    </button>
                    <button class="btn btn-primary" type="submit">
                        Đồng ý
                    </button>
                </div>
            </div>
        </div>
        <input type="hidden" id="lessonPlanId" name="lessonPlanId" />
    </form>
</div>
<script type="text/javascript">
    function getDynamicTextBox(value) {
        return '<div class="input-flex" style="margin-top:5px"><input type="time" id = "inputHour" name = "inputHour" class="form-control form-date"/><input onclick ="RemoveTextBox(this)" type ="button" value ="X" class="btn-delete" style="width:38px; height:38px"/></div>'
    }
    function AddTextBox() {
        var div = document.createElement('DIV');
        div.innerHTML = getDynamicTextBox("");
        document.getElementById("divCont").appendChild(div);
    }
    function RemoveTextBox(div) {
        document.getElementById("divCont").removeChild(div.parentNode.parentNode);
    }
</script>

@section scripts {
    <script>
        var minDate, maxDate;

        // Custom filtering function which will search data in column four between two values
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            let min = moment($('#min').val(), 'DD/MM/YYYY', true).isValid() ?
                moment($('#min').val(), 'DD/MM/YYYY', true).unix() :
                null;

            let max = moment($('#max').val(), 'DD/MM/YYYY').isValid() ?
                moment($('#max').val(), 'DD/MM/YYYY', true).unix() :
                null;
            var date = moment(data[1], 'DD/MM/YYYY', true).unix();

            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        });

        $(document).ready(function () {
            // Create date inputs
            minDate = new DateTime($('#min'), {
                format: 'DD/MM/YYYY',
            });
            maxDate = new DateTime($('#max'), {
                format: 'DD/MM/YYYY',
            });

            // DataTables initialisation
            var table = $('#myTable').DataTable();

            // Refilter the table
            $('#min, #max').on('change', function () {
                table.draw();
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#myTable_filter').prepend($('#dropdown-filter')).clone();
            $('#filter-fade').remove();
        })
    </script>
    @if (TempData["Message"] != null)
    {
        <script>
            var messageType = '@TempData["MessageType"]';
        var message = '@TempData["Message"]';

        // Display the message using Toastr library
        if (messageType === "success") {
            toastr.success(message);
        } else if (messageType === "error") {
            toastr.error(message);
        } else if (messageType === "warning") {
            toastr.warning(message);
        } else if (messageType === "info") {
            toastr.info(message);
        }
        </script>
    }
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
    <script src="~/js/app.js"></script>
    <script>
        $(function () {
    // Check for a success message in TempData
    var toastrSuccess = '@(TempData["toastr-success"])';
    if (toastrSuccess) {
        toastr.success(toastrSuccess);
    }

    // Check for an error message in TempData
    var toastrError = '@(TempData["toastr-error"])';
    if (toastrError) {
        toastr.error(toastrError);
    }
});
    </script>
}

