@model IEnumerable<VLUTUTORS.Models.TutorViewModel>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Gia sư hiện có</h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects" id="myTable2">
            <thead>
                <tr>
                    <th style="width: 1%">#</th>
                    <th style="width: 20%">Tên Gia Sư</th>
                    <th style="width: 20%">Môn Gia sư</th>
                    <th style="width: 20%">Email</th>
                    <th style="width: 8%">Trạng thái</th>
                    <th style="width: 20%"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 0;
                    foreach (var item in Model)
                    {
                        index++;
                        <tr>
                            <td>@index</td>
                            <td>
                                <a>@Html.DisplayFor(modelItem => item.Tutor.HoTen)</a>
                            </td>
                            @{if (item.Subject2 != null)
                                {
                                    <td>@Html.DisplayFor(modelItem => item.Subject1) - @Html.DisplayFor(modelItem => item.Subject2)</td>
                                }
                                else
                                {
                                    <td>@Html.DisplayFor(modelItem => item.Subject1)</td>
                                }
                            }
                            <td>@Html.DisplayFor(modelItem => item.Tutor.Email)</td>
                            @{
                                if (item.Tutor.TrangThaiGiaSu == true)
                                {
                                    <td class="badge badge-success" style="margin-top:10px">Hoạt Động</td>
                                }
                                else
                                {
                                    <td class="badge badge-block" style="margin-top:10px">Tạm khóa</td>
                                }
                            }
                            <td class="project-actions text-center">
                                <a asp-action="DetailTutor" asp-route-id="@item.Tutor.Id" class="btn">
                                    <i class="fas fa-eye"> </i>
                                </a>
                                <a asp-action="UpdateTutor" asp-route-id="@item.Tutor.Id" class="btn">
                                    <i class="fas fa-pen"> </i>
                                    
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>