@model VLUTUTORS.Models.Tuvan
@{
    ViewData["Title"] = "Chi tiết tư vấn";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href='javascript:history.go(-1)'>Danh sách đăng ký tư vấn</a></li>
                    <li class="breadcrumb-item active">Chi tiết đăng ký tư vấn</li>
                </ol>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <form asp-action="Detail">
        <input type="hidden" asp-for="IdtuVan" />
        <input type="hidden" asp-for="HoVaTen" />
        <input type="hidden" asp-for="NoiDungTuVan" />
        <input type="hidden" asp-for="Sdt" />
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="IdLoaiTuVan" />
        <section class="content">
            <div class="container" style="margin-top: 20px; margin-bottom: 20px">
                <div class="main-body">
                    <div class="row gutters-sm">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body" style="justify-content: space-around">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Họ Tên</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            @Html.DisplayFor(model => model.HoVaTen)
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Nội dung cần tư vấn</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            @Html.DisplayFor(model => model.NoiDungTuVan)
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Số Điện Thoại</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            @Html.DisplayFor(model => model.Sdt)
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row d-flex flex-nowrap">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            @Html.DisplayFor(model => model.Email)
                                        </div>
                                    </div>
                                    @{
                                        if (@Model.IdtrangThai != 3)
                                        {
                                            <hr />
                                            <div class="row d-flex flex-nowrap">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Trạng thái</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    @Html.DropDownListFor(model => model.IdtrangThai, Model.TrangThais)
                                                </div>
                                            </div>
                                        }
                                    }
                                    <hr />
                                    <div class="row">
                                        <div class="col-12 flex-right mb-4">
                                            <a href='javascript:history.go(-1)' class="btn btn-secondary mr-3">Quay Lại</a>
                                            <input type="submit" value="Lưu" class="btn btn-success" onclick="popup()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!-- /.content -->
</div>

