@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Admin" class="brand-link">
        <img src="~/images/LogoVL.png"
             alt="AdminVLU Logo"
             class="brand-image"
             style="opacity: 0.9" />
        <span class="brand-text font-weight-light">Gia Sư Văn Lang</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-sharp fa-solid fa-th"></i>
                        <p>Thống kê</p>
                    </a>
                </li>
                @if (@httpContextAccessor.HttpContext.Session.GetInt32("IdQuyen") == 1)
                {
                    <li class="nav-item">
                        <a href="~/Admin/ManageAdminRoles" class="nav-link">
                            <i class="fa-sharp fa-solid fa-user-check"></i>
                            <p>Quản lý quyền</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Admin/ManageAccounts" class="nav-link">
                            <i class="fa-sharp fa-solid fa-user-group"></i>
                            <p>Quản lý tài khoản</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Admin/ManageTutorSubject" class="nav-link">
                            <i class="fa-sharp fa-solid fa-book"></i>
                            <p>Quản lý môn gia sư</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Admin/ManageCourse" class="nav-link">
                            <i class="fa-sharp fa-solid fa-graduation-cap"></i>
                            <p>Quản lý khóa đào tạo</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="~/Admin/ManageTest" class="nav-link">
                            <i class="fa-sharp fa-solid fa-tasks"></i>
                            <p>Quản lý bài kiểm tra</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Admin/ManageConsultingType" class="nav-link">
                            <i class="fa-sharp fa-solid fa-envelope-open"></i>
                            <p>Quản lý loại tư vấn</p>
                        </a>
                    </li>
                }
                @if (@httpContextAccessor.HttpContext.Session.GetInt32("IdQuyen") == 2)
                {
                    <li class="nav-item">
                        <a href="~/Admin/ManageTutors" class="nav-link">
                            <i class="fa-sharp fa-solid fa-chalkboard-teacher"></i>
                            <p>Quản lý gia sư</p>
                        </a>
                    </li>
                }
                @if (@httpContextAccessor.HttpContext.Session.GetInt32("IdQuyen") == 3)
                {
                    <li class="nav-item">
                        <a href="#"
                           class="nav-link">
                            <i class="fa-sharp fa-solid fa-users"></i>
                            <p>Quản lý học viên</p>
                        </a>
                    </li>
                }
                @if (@httpContextAccessor.HttpContext.Session.GetInt32("IdQuyen") == 4)
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa-sharp fa-solid fa-thumbs-up"></i>
                            <p>Quản lý bài đánh giá</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="~/Admin/ManageConsulting" class="nav-link">
                            <i class="fa-solid fa-envelope"></i>
                            <p>Quản lý tư vấn</p>
                        </a>
                    </li>
                }
                @if (@httpContextAccessor.HttpContext.Session.GetInt32("IdQuyen") == 1)
                {
                    <li class="nav-item">
                        <a href="~/Admin/ManageFeedback" class="nav-link">
                            <i class="fa-sharp fa-solid fa-comments"></i>
                            <p>Quản lý phản hồi</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="~/Admin/ManageContent" class="nav-link">
                            <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                            <p>Quản lý nội dung</p>
                        </a>
                    </li>
                }
                @if (@httpContextAccessor.HttpContext.Session.GetInt32("IdQuyen") == 4)
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa-sharp fa-solid fa-money-check-dollar"></i>
                            <p>Lịch sử thanh toán</p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <script>
        const getNavItem = document.querySelectorAll('.nav-item');
        getNavItem.forEach(item => {
            const link = item.querySelector('.nav-link');
            if (link.href === window.location.href) {
                item.classList.add('menu-open')
                link.classList.add('active')
            }
        })
    </script>
    <!-- /.sidebar -->
</aside>