@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model VLUTUTORS.Models.Baikiemtra
@{
    ViewData["Title"] = "Thêm bài kiểm tra mới";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Admin">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="~/Admin/ManageTest">Quản lý bài kiểm tra</a></li>
                    <li class="breadcrumb-item active">Thêm bài kiểm tra</li>
                </ol>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <form method="post" asp-controller="ManageTest" asp-action="AddQuestion">
        <section class="content">
            <div class="container" style="margin-top: 20px; margin-bottom: 20px">
                <div class="main-body">
                    <div class="row gutters-sm">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h3>Thêm mới bài kiểm tra</h3>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Câu hỏi:</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary" name="CauHoi" id="CauHoi" type="text">
                                        @Html.ValidationMessageFor(m => m.CauHoi, "", new { @class = "text-danger" })
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Đáp án A:</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary" name="DapAnA" id="DapAnA" type="text">
                                        @Html.ValidationMessageFor(m => m.DapAnA, "", new { @class = "text-danger" })
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Đáp án B:</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary" name="DapAnB" id="DapAnB" type="text">
                                        @Html.ValidationMessageFor(m => m.DapAnB, "", new { @class = "text-danger" })
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Đáp án C:</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary" name="DapAnC" id="DapAnC" type="text">
                                        @Html.ValidationMessageFor(m => m.DapAnC, "", new { @class = "text-danger" })
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Đáp án D:</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary" name="DapAnD" id="DapAnD" type="text">
                                        @Html.ValidationMessageFor(m => m.DapAnD, "", new { @class = "text-danger" })
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Đáp án đúng:</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary" name="DapAnDung" id="DapAnDung" type="text" placeholder="Điền chữ cái đầu của đáp án. Ví dụ: a; nếu cả a và b đều đúng thì điền ab">
                                        @Html.ValidationMessageFor(m => m.DapAnDung, "", new { @class = "text-danger" })
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-12 flex-right mb-4">
                                            <a href='javascript:history.go(-1)' class="btn btn-secondary mr-3">Quay Lại</a>
                                            <input type="submit" value="Lưu" class="btn btn-success" onclick="popup()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!-- /.content -->
</div>
@if (TempData["Message"] != null)
{
    <script>
        var messageType = '@TempData["MessageType"]';
        var message = '@TempData["Message"]';

        // Display the message using Toastr library
        if (messageType === "success") {
            toastr.success(message);
        } else if (messageType === "error") {
            toastr.error(message);
        } else if (messageType === "warning") {
            toastr.warning(message);
        } else if (messageType === "info") {
            toastr.info(message);
        }
    </script>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
<script src="~/js/app.js"></script>
<script>
    $(function () {
        // Check for a success message in TempData
        var toastrSuccess = '@(TempData["toastr-success"])';
        if (toastrSuccess) {
            toastr.success(toastrSuccess);
        }

        // Check for an error message in TempData
        var toastrError = '@(TempData["toastr-error"])';
        if (toastrError) {
            toastr.error(toastrError);
        }
    });
</script>
