@model IEnumerable<VLUTUTORS.Models.Baikiemtra>
@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý bài kiểm tra";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-center text-center text-uppercase">
                <div class="col-sm-6">
                    <h1>Quản lý bài kiểm tra</h1>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách bài kiểm tra</h3>
                <div class="card-tools">
                    <a class="btn custom-btn btn-5"
                       href="~/Admin/ManageTest/AddQuestion">
                        Thêm câu hỏi
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects" id="myTable">
                    <thead>
                        <tr>
                            <th>Câu</th>
                            <th>Câu hỏi</th>
                            <th>Đáp án A</th>
                            <th>Đáp án B</th>
                            <th>Đáp án C</th>
                            <th>Đáp án D</th>
                            <th>Đáp án đúng</th>
                            <th class="action">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 0;
                            foreach (var item in Model)
                            {
                                index++;
                                <tr>
                                    <td>@index</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CauHoi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DapAnA)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DapAnB)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DapAnC)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DapAnD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DapAnDung)
                                    </td>
                                    <td class="project-actions">
                                        <a class="btn btn-sm"
                                           asp-action="EditQuestion" asp-controller="ManageTest" asp-route-id="@item.IdCauHoi">
                                            <i class="fas fa-pencil-alt"> </i>
                                            
                                        </a>
                                        <a class="btn btn-sm"
                                           data-toggle="modal"
                                           data-target="#exampleModal"
                                           onclick="document.getElementById('hdInput').value = @item.IdCauHoi">

                                            <i class="fas fa-trash"> </i>
                                            
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        @if (TempData["Message"] != null)
        {
            <script>
            var messageType = '@TempData["MessageType"]';
        var message = '@TempData["Message"]';

        // Display the message using Toastr library
        if (messageType === "success") {
            toastr.success(message);
        } else if (messageType === "error") {
            toastr.error(message);
        } else if (messageType === "warning") {
            toastr.warning(message);
        } else if (messageType === "info") {
            toastr.info(message);
        }
            </script>
        }
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
            </script>
        }
        <script src="~/js/app.js"></script>
        <script>
        $(function () {
    // Check for a success message in TempData
    var toastrSuccess = '@(TempData["toastr-success"])';
    if (toastrSuccess) {
        toastr.success(toastrSuccess);
    }

    // Check for an error message in TempData
    var toastrError = '@(TempData["toastr-error"])';
    if (toastrError) {
        toastr.error(toastrError);
    }
});
        </script>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Modal -->
<div class="modal fade"
     id="exampleModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form asp-action="Delete" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Bạn muốn xóa câu hỏi này?</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                        Hủy
                    </button>
                    <button class="btn btn-5 custom-btn" type="submit">
                        Đồng ý
                    </button>
                </div>
            </div>
        </div>
        <input type="hidden" id="hdInput" name="hdInput" />
    </form>

</div>
