@model VLUTUTORS.Models.Noidung
@{
    ViewData["Title"] = "Quản lý nội dung";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Admin">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Quản lý nội dung</li>
                </ol>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <form asp-action="Index">
        <input type="hidden" asp-for="Slogan" />
        <input type="hidden" asp-for="GioiThieuChanTrang" />
        <input type="hidden" asp-for="DiaChi" />
        <input type="hidden" asp-for="Sdt" />
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Facebook" />
        <input type="hidden" asp-for="GioiThieu" />
        <section class="content">
            <div class="container" style="margin-top: 20px; margin-bottom: 20px">
                <div class="main-body">
                    <div class="row gutters-sm">
                        <div class="col-md-8">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h3>Thông tin trang chủ</h3>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Câu Slogan</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary" name="diachi" type="text" value=@Model.Slogan>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Đoạn giới thiệu ở chân trang</h6>
                                        </div>
                                        <textarea class="col-sm-9 text-secondary" name="" id="" cols="30" rows="10">@Model.GioiThieuChanTrang</textarea>
                                    </div>
                                    <hr />

                                    <h3>Thông tin liên hệ</h3>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Địa chỉ</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary" name="diachi" type="text" value="@Model.DiaChi">
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Số Điện Thoại</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary" name="sdt" type="tel" value="@Model.Sdt">
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary" name="mail" type="text" value="@Model.Email">
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Facebook</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary" name="fb" type="text" value="@Model.Facebook">
                                    </div>
                                    <hr />

                                    <h3>Thông tin trang giới thiệu</h3>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Đoạn giới thiệu</h6>
                                        </div>
                                        <textarea class="col-sm-9 text-secondary" name="" id="" cols="30" rows="10">@Model.GioiThieu</textarea>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-12 flex-right mb-4">
                                            <input type="submit" value="Lưu" class="btn btn-success" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!-- /.content -->
</div>

