@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model VLUTUTORS.Models.Noidung

<header id="header-part">
    <div class="navigation navigation-2 navigation-3 nav-nob">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-11 col-md-10 col-sm-9 col-9">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                            <img class="logo" src="~/images/logo-vlu.png" alt="Logo" />
                        </a>
                        <button class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="active" asp-action="Index" asp-controller="Home">Trang Chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">Tìm Gia Sư</a>
                                </li>

                                <li class="nav-item">
                                    <a href="~/Home/AboutUs">Về Chúng Tôi</a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Home/Contact">Liên Hệ</a>
                                </li>
                                @{
                                    if (@httpContextAccessor.HttpContext.Session.GetInt32("IdGiaSu") == 1)
                                    {
                                        <li class="nav-item">
                                            <a href="~/TutorTraining">Khóa Đào Tạo</a>
                                        </li>
                                    }
                                    else if (@httpContextAccessor.HttpContext.Session.GetInt32("IdGiaSu") == 2)
                                    {
                                        <li class="nav-item">
                                            <a>Đang xét duyệt</a>
                                        </li>
                                    }
                                    else if (@httpContextAccessor.HttpContext.Session.GetInt32("IdGiaSu") == 5)
                                    {
                                        <li class="nav-item">
                                            <a href="~/Tutors">Đến Trang Gia Sư</a>
                                        </li>
                                    }
                                    else if (@httpContextAccessor.HttpContext.Session.GetInt32("IdGiaSu") == null
                                        || @httpContextAccessor.HttpContext.Session.GetInt32("IdGiaSu") == 4
                                        || @httpContextAccessor.HttpContext.Session.GetInt32("IdGiaSu") == 6)
                                    {
                                        <li class="nav-item">
                                            <a href="~/Home/RegisterAsTutor">Trở Thành Gia Sư</a>
                                        </li>
                                    }
                                }
                                <li>
                                    @if (@httpContextAccessor.HttpContext.Session.GetString("LoginId") != null)
                                    {
                                        <a asp-controller="Accounts" asp-action="Details" asp-route-id="@httpContextAccessor.HttpContext.Session.GetInt32("LoginId")">
                                            @httpContextAccessor.HttpContext.Session.GetString("loginName")
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li><a asp-controller="Accounts" asp-action="Details" asp-route-id="@httpContextAccessor.HttpContext.Session.GetInt32("LoginId")">Tài Khoản</a></li>
                                            <!--<li><a href="history.html">Lịch Sử Đặt Lịch</a></li>
                <li><a href="#">Gia Sư Yêu Thích</a></li>-->
                                            <li>
                                                <a href=""
                                                   data-toggle="modal"
                                                   data-target="#logoutModal"
                                                   id="logout">Đăng Xuất</a>
                                            </li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <a href="~/Accounts/Login">
                                            Đăng Nhập/Đăng Ký
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- nav -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <div class="modal fade"
         id="logoutModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Bạn muốn đăng xuất?
                    </h5>
                    <button class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Chọn "Đồng ý" để kết thúc phiên đăng nhập của bạn</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Hủy
                    </button>
                    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Logout", "Accounts")'">
                        Đồng ý
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>