@model VLUTUTORS.Models.BookTutorViewModel

@{
    ViewData["Title"] = "Chi tiết gia sư";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<section id="teachers-singel" class="pt-30 pb-120 gray-bg">
    <div class="container">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="javascript:history.go(-1)">Tìm gia sư</a></li>
                        <li class="breadcrumb-item active">Chi tiết gia sư @Model.Tutor.HoTen</li>
                    </ol>
                </div>
            </div>
        </section>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="teachers-left">
                    <div class="hero">
                        <img src="~/@Model.Tutor.AnhDaiDien" alt="Teachers" />
                    </div>
                    @{
                        var totalRate = Model.Commnents.Sum(it => it.Comment.Diem);
                        int totalStar = (Model.Commnents.Count > 0 ? totalRate / Model.Commnents.Count : 0);
                        for (int i = 0; i < totalStar; ++i)
                        {
                            <span><i class="fa-solid fa-star"></i></span>
                        }
                        if (totalStar > 0)
                        {
                            <span class="ml-2 mt-1">@totalStar</span>
                        }
                    }

                    <div class="name">
                        <h6>@Model.Tutor.HoTen</h6>

                        @if (Model.Subject1 != null)
                        {
                            <div style="color:crimson">@Model.Subject1.TenMonGiaSu</div>
                        }

                        @if (Model.Subject2 != null)
                        {
                            <div style="color:crimson">@Model.Subject2.TenMonGiaSu</div>
                        }
                    </div>
                    <div class="description">
                        <p>
                            @Model.Tutor.GioiThieu
                        </p>
                    </div>
                </div>
                <!-- teachers left -->
            </div>
            <div class="col-lg-8">
                <div class="teachers-right">
                    <ul class="nav nav-justified" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="active"
                               id="dashboard-tab"
                               data-toggle="tab"
                               href="#dashboard"
                               role="tab"
                               aria-controls="dashboard"
                               aria-selected="true">Tổng Quát</a>
                        </li>
                        <li class="nav-item">
                            <a id="reviews-tab"
                               data-toggle="tab"
                               href="#reviews"
                               role="tab"
                               aria-controls="reviews"
                               aria-selected="false">Đánh Giá</a>
                        </li>
                        <li class="nav-item">
                            <a id="courses-tab"
                               data-toggle="tab"
                               href="#courses"
                               role="tab"
                               aria-controls="courses"
                               aria-selected="false">Lịch Dạy</a>
                        </li>
                    </ul>
                    <!-- nav -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active"
                             id="dashboard"
                             role="tabpanel"
                             aria-labelledby="dashboard-tab">
                            <div class="dashboard-cont">
                                <div class="singel-dashboard pt-30">
                                    <h3>Đánh giá bản thân về việc gia sư</h3>
                                    <p>
                                        @Model.Tutor.DanhGiaVeViecGiaSu
                                    </p>
                                </div>
                                <!-- singel dashboard -->
                                <div class="singel-dashboard pt-30">
                                    <h3>Chứng chỉ</h3>

                                    @if (Model.Subject1 != null)
                                    {
                                        <div>
                                            <div style="font-size:18px; color:blue"><b>Chứng chỉ môn: @Model.Subject1.TenMonGiaSu</b></div>
                                            <p>
                                                @Model.Tutor.TenChungChiHoacDiemMon1
                                            </p>
                                        </div>
                                    }

                                    @if (Model.Subject2 != null)
                                    {
                                        <div>
                                            <div>
                                                <div style="font-size:18px; color:blue"><b>Chứng chỉ môn: @Model.Subject2.TenMonGiaSu</b></div>
                                                <p>
                                                    @Model.Tutor.TenChungChiHoacDiemMon2
                                                </p>
                                            </div>
                                        </div>
                                    }
                                    <!-- singel dashboard -->
                                    <div class="singel-dashboard pt-30">
                                        <h3>Môn tôi gia sư</h3>

                                        @if (Model.Subject1 != null)
                                        {
                                            <div>
                                                <div style="font-size:18px; color:blue"><b>Giới thiệu về môn: @Model.Subject1.TenMonGiaSu</b></div>
                                                <p>
                                                    @Model.Tutor.GioiThieuVeMonGiaSu1
                                                </p>
                                            </div>
                                        }

                                        @if (Model.Subject2 != null)
                                        {
                                            <div>
                                                <div style="font-size:18px; color:blue"><b>Giới thiệu về môn: @Model.Subject2.TenMonGiaSu</b></div>
                                                <p>
                                                    @Model.Tutor.GioiThieuVeMonGiaSu2
                                                </p>
                                            </div>
                                        }
                                    </div>
                                    <!-- singel dashboard -->
                                </div>
                                <!-- dashboard cont -->
                            </div>
                        </div>
                        <div class="tab-pane fade"
                             id="courses"
                             role="tabpanel"
                             aria-labelledby="courses-tab">
                            <h4 class="pt-3 pl-3 pr-3 text-center">
                                Đăng ký lịch theo tuần
                            </h4>
                            <p class="text-center p-2">
                                <i></i>
                            </p>
                            <!--schedule -->
                            <div class="row" id="dropdown-filter">
                                <div class="col d-flex mr-10">
                                    <input type="text"
                                           class="form-control-sm"
                                           id="min"
                                           name="min"
                                           style="width: 150px" />
                                    <label class="form-label ml-1" for="max">Đến</label>
                                    <input type="text"
                                           id="max"
                                           name="max"
                                           class="form-control-sm"
                                           style="width: 150px" />
                                </div>
                            </div>
                            <table id="myTable" class="mt-100">
                                <thead>
                                    <tr>
                                        <th>Môn gia sư</th>
                                        <th>Ngày</th>
                                        <th>Giờ</th>
                                        <th>Giá</th>
                                        <th>Đặt Lịch</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Anh văn</td>
                                        <td>16/01/2023</td>
                                        <td>
                                            <select name="table-select" id="">
                                                <option value="">8h-9h</option>
                                                <option value="">9h-10h</option>
                                                <option value="">10h-11h</option>
                                            </select>
                                        </td>
                                        <td>60,000 đ</td>
                                        <td>
                                            <button class="custom-btn btn-5">Đặt Lịch</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Anh văn</td>
                                        <td>16/01/2023</td>
                                        <td>
                                            <select name="table-select" id="">
                                                <option value="">8h-9h</option>
                                                <option value="">9h-10h</option>
                                                <option value="">10h-11h</option>
                                            </select>
                                        </td>
                                        <td>60,000 đ</td>
                                        <td>
                                            <button class="custom-btn btn-5">Đặt Lịch</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade"
                             id="reviews"
                             role="tabpanel"
                             aria-labelledby="reviews-tab">
                            <div class="reviews-cont">
                                @if (Model.Commnents.Count > 0)
                                {
                                    <div class="title">
                                        <h6>Đánh giá của học viên</h6>
                                    </div>
                                    <ul>
                                        @{
                                            foreach (var comment in Model.Commnents)
                                            {
                                                <li>
                                                    <div class="singel-reviews">
                                                        <div class="reviews-author">
                                                            <div class="author-thum">
                                                                <img src="~/@comment.NguoiDanhGia.AnhDaiDien" alt="Reviews" />
                                                            </div>
                                                            <div class="author-name">
                                                                <h6>@comment.NguoiDanhGia.HoTen</h6>
                                                                <span>@comment.Comment.NgayTao.ToString("dd/MM/yyyy")</span>
                                                            </div>
                                                        </div>
                                                        <div class="reviews-description pt-20">
                                                            <p>
                                                                @comment.Comment.Danhgia
                                                            </p>
                                                            <div class="rating">

                                                                <ul>
                                                                    @for (int i = 0; i < comment.Comment.Diem; ++i)
                                                                    {
                                                                        <li><i class="fa fa-star"></i></li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- singel reviews -->
                                                </li>
                                            }
                                        }
                                    </ul>
                                    <div class="title pt-15">
                                        <h6>Hãy để lại đánh giá của bạn</h6>
                                    </div>
                                }
                                else
                                {
                                    <p>Chưa có đánh giá cho gia sư này</p>
                                }

                            </div>
                            <!-- reviews cont -->
                        </div>
                        <!-- tab content -->
                    </div>
                    <!-- teachers right -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
</section>
@section scripts {
    <script>
        var minDate, maxDate;

        // Custom filtering function which will search data in column four between two values
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            var min = minDate.val();
            var max = maxDate.val();
            var date = new Date(data[2]);

            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        });

        $(document).ready(function () {
            // Create date inputs
            minDate = new DateTime($('#min'), {
                format: 'DD-MM-YYYY',
            });
            maxDate = new DateTime($('#max'), {
                format: 'DD-MM-YYYY',
            });

            // DataTables initialisation
            var table = $('#myTable').DataTable();

            // Refilter the table
            $('#min, #max').on('change', function () {
                table.draw();
            });
        });
        console.log(moment.lang('vi').format('L'));
    </script>
    <script type="text/javascript">
        $(function () {
            $('#myTable_filter').prepend($('#dropdown-filter')).clone();
            $('#filter-fade').remove();
            $('#myTable_filter').css({
                display: 'flex',
                width: '100%',
                justifyContent: 'space-between',
                alignItems: 'center',
            });
            $('#myTable_length').css({ display: 'none' });
            $('.sorting:first').css({ width: '20%' });
        });
    </script>
}