@using VLUTUTORS.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<VLUTUTORS.Models.BookTutorViewModel, IEnumerable<VLUTUTORS.Models.Caday>>
@{
    ViewData["Title"] = "Chi tiết gia sư";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<section id="teachers-singel" class="pt-30 pb-120 gray-bg">
    <div class="container">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="javascript:history.go(-1)">Tìm gia sư</a></li>
                        <li class="breadcrumb-item active">Chi tiết gia sư @Model.Item1.Tutor.HoTen</li>
                    </ol>
                </div>
            </div>
        </section>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="teachers-left">
                    <div class="hero">
                        @{
                            if (@Model.Item1.Tutor.AnhDaiDien != null)
                            {
                                <img src="https://cntttest.vanlanguni.edu.vn:18081/CP25Team01/@Model.Item1.Tutor.AnhDaiDien" alt="Teachers" />
                            }
                            else
                            {
                                <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="Teachers" />
                            }
                        }

                    </div>
                    <div class="tutor-rating">
                        @{
                            var totalRate = Model.Item1.Commnents.Sum(it => it.Comment.Diem);
                            int totalStar = (Model.Item1.Commnents.Count > 0 ? totalRate / Model.Item1.Commnents.Count : 0);
                            for (int i = 0; i < totalStar; ++i)
                            {
                                <span><i class="fa-solid fa-star"></i></span>
                            }
                            if (totalStar > 0)
                            {
                                <span class="ml-2 mt-1">@totalStar</span>
                            }
                        }
                    </div>
                    <div class="name">
                        <h6>@Model.Item1.Tutor.HoTen</h6>

                        @if (Model.Item1.Subject1 != null)
                        {
                            <div style="color:crimson">@Model.Item1.Subject1.TenMonGiaSu</div>
                        }

                        @if (Model.Item1.Subject2 != null)
                        {
                            <div style="color:crimson">@Model.Item1.Subject2.TenMonGiaSu</div>
                        }
                    </div>
                    <div class="description">
                        <p>
                            @Model.Item1.Tutor.GioiThieu
                        </p>
                    </div>
                </div>
                <!-- teachers left -->
            </div>
            <div class="col-lg-8">
                <div class="teachers-right">
                    <ul class="nav nav-justified" id="myTab" role="tablist" style="    font-family: 'Montserrat';">
                        <li class="nav-item">
                            <a class="active"
                               id="dashboard-tab"
                               data-toggle="tab"
                               href="#dashboard"
                               role="tab"
                               aria-controls="dashboard"
                               aria-selected="true">Tổng Quát</a>
                        </li>
                        <li class="nav-item">
                            <a id="reviews-tab"
                               data-toggle="tab"
                               href="#reviews"
                               role="tab"
                               aria-controls="reviews"
                               aria-selected="false">Đánh Giá</a>
                        </li>
                        <li class="nav-item">
                            <a id="courses-tab"
                               data-toggle="tab"
                               href="#courses"
                               role="tab"
                               aria-controls="courses"
                               aria-selected="false">Lịch Dạy</a>
                        </li>
                    </ul>
                    <!-- nav -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active"
                             id="dashboard"
                             role="tabpanel"
                             aria-labelledby="dashboard-tab">
                            <div class="dashboard-cont">
                                <div class="singel-dashboard pt-30">
                                    <h4 class="font-weight-bold">Đánh giá bản thân về việc gia sư</h4>
                                    <p>
                                        @Model.Item1.Tutor.DanhGiaVeViecGiaSu
                                    </p>
                                </div>
                                <!-- singel dashboard -->
                                <div class="singel-dashboard pt-30">
                                    <h4 class="font-weight-bold">
                                        Chứng chỉ</h3>

                                        @if (Model.Item1.Subject1 != null)
                                        {
                                            <div>
                                                <div style="font-size:16px; color:blue"><b>Chứng chỉ môn: @Model.Item1.Subject1.TenMonGiaSu</b></div>
                                                <p>
                                                    @Model.Item1.Tutor.TenChungChiHoacDiemMon1
                                                </p>
                                            </div>
                                        }

                                        @if (Model.Item1.Subject2 != null)
                                        {
                                            <div>
                                                <div>
                                                    <div style="font-size:16px; color:blue"><b>Chứng chỉ môn: @Model.Item1.Subject2.TenMonGiaSu</b></div>
                                                    <p>
                                                        @Model.Item1.Tutor.TenChungChiHoacDiemMon2
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                        <!-- singel dashboard -->
                                        <div class="singel-dashboard pt-30">
                                            <h4 class="font-weight-bold">Môn tôi gia sư</h4>

                                            @if (Model.Item1.Subject1 != null)
                                            {
                                                <div>
                                                    <div style="font-size:16px; color:blue"><b>Giới thiệu về môn: @Model.Item1.Subject1.TenMonGiaSu</b></div>
                                                    <p>
                                                        @Model.Item1.Tutor.GioiThieuVeMonGiaSu1
                                                    </p>
                                                </div>
                                            }

                                            @if (Model.Item1.Subject2 != null)
                                            {
                                                <div>
                                                    <div style="font-size:18px; color:blue"><b>Giới thiệu về môn: @Model.Item1.Subject2.TenMonGiaSu</b></div>
                                                    <p>
                                                        @Model.Item1.Tutor.GioiThieuVeMonGiaSu2
                                                    </p>
                                                </div>
                                            }
                                        </div>
                                        <!-- singel dashboard -->
                                </div>
                                <!-- dashboard cont -->
                            </div>
                        </div>
                        <div class="tab-pane fade"
                             id="courses"
                             role="tabpanel"
                             aria-labelledby="courses-tab">
                            <h4 class="pt-3 pl-3 pr-3 text-center">
                                Lịch dạy của gia sư
                            </h4>
                            <!--schedule -->
                            <div class="row" id="dropdown-filter">
                                <div class="col d-flex mr-10">
                                    <input type="text"
                                           class="form-control-sm"
                                           id="min"
                                           name="min"
                                           style="width: 150px" />
                                    <label class="form-label ml-1" for="max">Đến</label>
                                    <input type="text"
                                           id="max"
                                           name="max"
                                           class="form-control-sm"
                                           style="width: 150px" />
                                </div>
                            </div>
                            <table id="myTable" class="mt-100">
                                <thead>
                                    <tr>
                                        <th id="mon">Môn gia sư</th>
                                        <th style="width: 20px!important">Ngày</th>
                                        <th>Giờ</th>
                                        <th>Giá</th>
                                        <th>Đặt Lịch</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var lesson in Model.Item2)
                                    {
                                        int year = lesson.NgayDay.Year;
                                        int month = lesson.NgayDay.Month;
                                        int day = lesson.NgayDay.Day;

                                        DateTime checkTime = new DateTime(year, month, day, lesson.GioBatDau, lesson.PhutBatDau, 0);
                                        if (@lesson.Link == null && checkTime >= DateTime.Now)
                                        {
                                            <tr>
                                                <td>@lesson.tenMonDay</td>
                                                <td>@lesson.NgayDay.ToString("dd/MM/yyyy")</td>
                                                <td>@lesson.GioBatDau:@lesson.PhutBatDau - @lesson.GioKetThuc:@lesson.PhutKetThuc</td>
                                                <td>@lesson.giaCaDay.ToString("#,##0.###") đồng</td>
                                                <td>
                                                    <button data-toggle="modal"
                                                    data-target="#exampleModal"
                                                    onclick="document.getElementById('lessonID').value = @lesson.Id"
                                                    class="custom-btn btn-5" style="width: 100%">
                                                        Đặt Lịch
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade"
                             id="reviews"
                             role="tabpanel"
                             aria-labelledby="reviews-tab">
                            <div class="reviews-cont">
                                @if (Model.Item1.Commnents.Count > 0)
                                {
                                    <div class="title">
                                        <h6>Đánh giá của học viên</h6>
                                    </div>
                                    <ul>
                                        @{
                                            foreach (var comment in Model.Item1.Commnents)
                                            {
                                                <li>
                                                    <div class="singel-reviews">
                                                        <div class="reviews-author">
                                                            <div class="author-thum" style="width: 70px">
                                                                @{
                                                                    if (@comment.NguoiDanhGia.AnhDaiDien != null)
                                                                    {
                                                                        <img src="https://cntttest.vanlanguni.edu.vn:18081/CP25Team01/@comment.NguoiDanhGia.AnhDaiDien" alt="Reviews" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="Reviews" />
                                                                    }
                                                                }

                                                            </div>
                                                            <div class="author-name">
                                                                <h6>@comment.NguoiDanhGia.HoTen</h6>
                                                                <span>@comment.Comment.NgayTao.ToString("dd/MM/yyyy")</span>
                                                            </div>
                                                        </div>
                                                        <div class="reviews-description pt-20">
                                                            @{
                                                                var strTieuChi = string.Empty;
                                                                @foreach (var tieuChiId in comment.Comment.TieuChi.Split(";"))
                                                                {
                                                                    var tieuChi = comment.Tieuchi.FirstOrDefault(it => it.IdTieuChi.ToString() == tieuChiId);
                                                                    if (tieuChi != null)
                                                                        strTieuChi += (string.IsNullOrEmpty(strTieuChi) ? string.Empty : ", ") + tieuChi.TieuChi;
                                                                }
                                                                <p>
                                                                    @strTieuChi
                                                                </p>
                                                                if (comment.Comment.DanhGia != null)
                                                                {
                                                                    <p>
                                                                        Đánh giá khác: @comment.Comment.DanhGia
                                                                    </p>
                                                                }
                                                            }
                                                            <div class="rating">
                                                                <ul>
                                                                    @for (int i = 0; i < comment.Comment.Diem; ++i)
                                                                    {
                                                                        <li><i class="fa fa-star"></i></li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- singel reviews -->
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <p>Chưa có đánh giá cho gia sư này</p>
                                }

                            </div>
                            <!-- reviews cont -->
                        </div>
                        <!-- tab content -->
                    </div>
                    <!-- teachers right -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>

    <!-- Modal -->
    <form asp-action="LessonRegis" asp-controller="BookTutor" id="form" method="post">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" id="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận đặt lịch</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <b>Xác nhận đặt lịch học cho ca học này!</b>
                    </div>
                    <input type="hidden" id="lessonID" name="lessonID" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="custom-btn btn-success-modal">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @section scripts {
        <script>
            var minDate, maxDate;
            // Custom filtering function which will search data in column four between two values
            $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {

                let min = moment($('#min').val(), 'DD/MM/YYYY', true).isValid() ?
                    moment($('#min').val(), 'DD/MM/YYYY', true).unix() :
                    null;

                let max = moment($('#max').val(), 'DD/MM/YYYY').isValid() ?
                    moment($('#max').val(), 'DD/MM/YYYY', true).unix() :
                    null;
                var date = moment(data[1], 'DD/MM/YYYY', true).unix();

                if (
                    (min === null && max === null) ||
                    (min === null && date <= max) ||
                    (min <= date && max === null) ||
                    (min <= date && date <= max)
                ) {
                    return true;
                }
                return false;
            });

            $(document).ready(function () {
                // Create date inputs
                minDate = new DateTime($('#min'), {
                    format: 'DD/MM/YYYY',
                });
                maxDate = new DateTime($('#max'), {
                    format: 'DD/MM/YYYY',
                });

                // DataTables initialisation
                var table = $('#myTable').DataTable();

                // Refilter the table
                $('#min, #max').on('change', function () {
                    table.draw();
                });
            });
            console.log(moment.lang('vi').format('L'));
        </script>
        <script type="text/javascript">
            $(function () {
                $('#myTable_filter').prepend($('#dropdown-filter')).clone();
                $('#filter-fade').remove();
                $('#myTable_filter').css({
                    display: 'flex',
                    width: '100%',
                    justifyContent: 'space-between',
                    alignItems: 'center',
                    flexWrap: 'wrap'
                });
                $('#myTable_length').css({ display: 'none' });
                $('.sorting:first').css({ width: '20%' });
                $('#modal-dialog').css({
                    position: 'relative',
                    top: '50%',
                    transform: 'translateY(-50%)',
                })
                $('#mon').css({ width: '0px' })
            });
        </script>
    }
</section>