@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<VLUTUTORS.Models.Caday>
@{
    ViewData["Title"] = "Lịch Học";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<div class="container-table mt-20 pb-20">
    <h3 style="text-align:center; margin-bottom:10px">Lịch Học</h3>
    <div class="row" id="dropdown-filter">
        <div class="col d-flex mr-10 flex-wrap">
            <label class="form-label" for="min">Ngày bắt đầu:</label>
            <input type="text"
                   class="form-control-sm"
                   id="min"
                   name="min"
                   style="width: 150px" />
            <label class="form-label ml-1" for="max">Ngày kết thúc:</label>
            <input type="text"
                   id="max"
                   name="max"
                   class="form-control-sm"
                   style="width: 150px" />
        </div>
    </div>
    <table id="myTable" class="mt-100">
        <thead>
            <tr>
                <th>Môn Học</th>
                <th>Tên Gia Sư</th>
                <th>Ngày Học</th>
                <th>Khung Giờ</th>
                <th>Giá Tiền</th>
                <th>Trạng Thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lesson in Model)
            {
                int year = lesson.NgayDay.Year;
                int month = lesson.NgayDay.Month;
                int day = lesson.NgayDay.Day;

                DateTime checkTime = new DateTime(year, month, day, lesson.GioBatDau, lesson.PhutBatDau, 0);

                TimeSpan result = DateTime.Now - checkTime;
                

                if ((checkTime >= DateTime.Now || result.Minutes <= 10) && lesson.Link != null)
                {
                    <tr>
                        <td>@lesson.tenMonDay</td>
                        <td>@lesson.tenNguoiDay</td>
                        <td>@lesson.NgayDay.ToString("dd/MM/yyyy")</td>
                        <td>@lesson.GioBatDau:@lesson.PhutBatDau - @lesson.GioKetThuc:@lesson.PhutKetThuc</td>
                        <td>@lesson.giaCaDay.ToString("#,##0.###") đồng</td>

                        @{
                            if (lesson.NgayDay == DateTime.Today && Math.Abs(result.Minutes)<=15)
                            {
                                <td class="done">Sắp/Đang Diễn Ra</td>
                                <td>
                                    <form asp-action="AcceptBooking" method="post" asp-controller="BookTutor" asp-route-id="@lesson.Id">
                                        <button class="btn btn-success btn-sm" style="width:90px" href="@lesson.Link" target="_blank">Tham gia</button>
                                    </form>
                                    <a class="btn btn-danger btn-sm" style="margin-top: 5px; width: 90px; color:white;"
                           data-toggle="modal"
                           data-target="#deleteModal"
                           onclick="document.getElementById('lessonPlanId').value = @lesson.Id">Hủy lịch</a>
                                </td>
                            }
                            else
                            {
                                <td class="cms">Đã đặt lịch</td>
                                <td>
                                    <a class="btn btn-danger btn-sm" style="margin-top: 5px; width: 90px; color:white;"
                           data-toggle="modal"
                           data-target="#deleteModal"
                           onclick="document.getElementById('lessonPlanId').value = @lesson.Id">Hủy lịch</a>
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <form asp-action="CancelBooking" method="post" asp-controller="BookTutor">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Bạn muốn hủy ca học này?</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                        Hủy
                    </button>
                    <button class="btn btn-5 custom-btn" type="submit">
                        Đồng ý
                    </button>
                </div>
            </div>
        </div>
        <input type="hidden" id="lessonPlanId" name="lessonPlanId" />
    </form>
</div>
@section scripts{
    @if (TempData["link"] != null)
    {
        <script>
            window.open('@TempData["link"]');
        </script>
    }

    <script>
        var minDate, maxDate;

        // Custom filtering function which will search data in column four between two values
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            let min = moment($('#min').val(), 'DD/MM/YYYY', true).isValid() ?
                moment($('#min').val(), 'DD/MM/YYYY', true).unix() :
                null;

            let max = moment($('#max').val(), 'DD/MM/YYYY').isValid() ?
                moment($('#max').val(), 'DD/MM/YYYY', true).unix() :
                null;
            var date = moment(data[2], 'DD/MM/YYYY', true).unix();

            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        });

        $(document).ready(function () {
            // Create date inputs
            minDate = new DateTime($('#min'), {
                format: 'DD/MM/YYYY',
            });
            maxDate = new DateTime($('#max'), {
                format: 'DD/MM/YYYY',
            });

            // DataTables initialisation
            var table = $('#myTable').DataTable();

            // Refilter the table
            $('#min, #max').on('change', function () {
                table.draw();
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#myTable_filter').prepend($('#dropdown-filter')).clone();
            $('#filter-fade').remove();
            $('#myTable_filter').css({ display: 'flex' });
            $('#myTable').css({ width: 'auto', borderCollapse: 'collapse' });
        });
    </script>
    @if (TempData["Message"] != null)
    {
        <script>
            var messageType = '@TempData["MessageType"]';
            var message = '@TempData["Message"]';

            // Display the message using Toastr library
            if (messageType === "success") {
                toastr.success(message);
            } else if (messageType === "error") {
                toastr.error(message);
            } else if (messageType === "warning") {
                toastr.warning(message);
            } else if (messageType === "info") {
                toastr.info(message);
            }
        </script>
    }
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
    <script src="~/js/app.js"></script>
    <script>
        $(function () {
            // Check for a success message in TempData
            var toastrSuccess = '@(TempData["toastr-success"])';
            if (toastrSuccess) {
                toastr.success(toastrSuccess);
            }

            // Check for an error message in TempData
            var toastrError = '@(TempData["toastr-error"])';
            if (toastrError) {
                toastr.error(toastrError);
            }
        });
    </script>
}