@using VLUTUTORS.Models
@model IEnumerable<VLUTUTORS.Models.BookTutorViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Tìm gia sư";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<form asp-controller="BookTutor">
    <div class="search-container">
        <section class="grid-demo">

            <h2 class="section-title"><span>Tìm gia sư</span></h2>

            <div class="controls cf">
                <div class="control search">
                    <div class="control-icon">
                        <i class="material-icons">&#xE8B6;</i>
                    </div>
                    <input class="control-field search-field form-search " type="text" name="keyword" placeholder="Tìm kiếm(Tên gia sư)..." value='@ViewData["Keyword"]' />
                </div>
                <div class="control filter">
                    <div class="control-icon">
                        <i class="material-icons">&#xE152;</i>
                    </div>
                    <div class="select-arrow">
                        <i class="material-icons">&#xE313;</i>
                    </div>
                    <select class="control-field filter-field form-search" name="subjectId">
                        <option value="">Môn học</option>
                        @{
                            List<Mongiasu> subjects = new List<Mongiasu>(ViewBag.Subjects);
                            foreach (var subject in subjects)
                            {
                                if (ViewData["SubjectId"] != null && subject.IdmonGiaSu == (int)ViewData["SubjectId"])
                                {
                                    <option value="@subject.IdmonGiaSu" selected="selected">@subject.TenMonGiaSu</option>

                                }
                                else
                                {
                                    <option value="@subject.IdmonGiaSu">@subject.TenMonGiaSu</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="control filter">
                    <div class="control-icon">
                        <i class="material-icons">&#xE164;</i>
                    </div>
                    <div class="select-arrow">
                        <i class="material-icons">&#xE313;</i>
                    </div>
                    <select class="control-field sort-field form-search" name="nameFilter">
                        @{
                            if (ViewData["NameFilter"] != null && ViewData["NameFilter"].Equals("favourite"))
                            {
                                <option value="">Lọc Theo</option>
                                <option value="favourite" selected="selected">Gia sư yêu thích</option>
                            }
                            else
                            {
                                <option value="" selected="selected">Lọc Theo</option>
                                <option value="favourite">Gia sư yêu thích</option>
                            }
                        }
                    </select>
                </div>
                
            </div>
            <button class="main-btn" style="float: right;margin-right: 10px;margin-top: 5px;" type="submit" asp-action="Index">Tìm kiếm</button>
        </section>
        <div class="">
            <div class="col d-flex flex-column align-items-center ">
                <hr>
                @foreach (var tutor in Model)
                {
                    <div class="search-card col-10 ml-10 mt-30 mb-20">
                        <div class="tutor-avt">
                            <img src="https://cntttest.vanlanguni.edu.vn:18081/CP25Team01/@tutor.Tutor.AnhDaiDien"
                                 width="150" />
                        </div>
                        <div class="tutor-desc">
                            <h3 class="tutor-name">@tutor.Tutor.HoTen</h3>
                            <div class="tutor-rating">
                                @{
                                    var totalRate = tutor.Commnents.Sum(it => it.Comment.Diem);
                                    int totalStar = (tutor.Commnents.Count > 0 ? totalRate / tutor.Commnents.Count : 0);
                                    for (int i = 0; i < totalStar; ++i)
                                    {
                                        <span><i class="fa-solid fa-star"></i></span>
                                    }
                                    if (totalStar > 0)
                                    {
                                        <span class="ml-2 mt-1">@totalStar</span>
                                    }
                                }
                            </div>
                            @if (@tutor.Subject1 != null)
                            {
                                <p class="card-price"><b>@tutor.Subject1.TenMonGiaSu</b></p>
                                <p class="head-desc">@tutor.Tutor.GioiThieuVeMonGiaSu1</p>
                            }

                            @if (@tutor.Subject2 != null)
                            {
                                <p class="card-price"><b>@tutor.Subject2.TenMonGiaSu</b></p>
                                <p class="head-desc">@tutor.Tutor.GioiThieuVeMonGiaSu2</p>
                            }
                        </div>
                        <div class="tutor-view">
                            @if (!@tutor.IsInWishlish)
                            {
                                <button class="fav-tutor" type="submit" asp-action="AddToWishlish" asp-route-id="@tutor.Tutor.Id">
                                    <i class="fa-solid fa-heart icon-heart" id="heart"></i>
                                </button>
                            }
                            else
                            {
                                <button style="color:red" class="fav-tutor" type="submit" asp-action="RemoveFromWishlish" asp-route-id="@tutor.Tutor.Id">
                                    <i class="fa-solid fa-heart icon-heart" id="heart1"></i>
                                </button>
                            }
                            <a asp-action="DetailTutor" asp-route-id="@tutor.Tutor.Id" class="card-btn">Xem Chi Tiết</a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
    @section scripts {
        @if (TempData["Message"] != null)
        {
            <script>
            var messageType = '@TempData["MessageType"]';
        var message = '@TempData["Message"]';

        // Display the message using Toastr library
        if (messageType === "success") {
            toastr.success(message);
        } else if (messageType === "error") {
            toastr.error(message);
        } else if (messageType === "warning") {
            toastr.warning(message);
        } else if (messageType === "info") {
            toastr.info(message);
        }
            </script>
        }
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
            </script>
        }
        <script src="~/js/app.js"></script>
        <script>
        $(function () {
    // Check for a success message in TempData
    var toastrSuccess = '@(TempData["toastr-success"])';
    if (toastrSuccess) {
        toastr.success(toastrSuccess);
    }

    // Check for an error message in TempData
    var toastrError = '@(TempData["toastr-error"])';
    if (toastrError) {
        toastr.error(toastrError);
    }
});
        </script>
    }
</form>

