@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<VLUTUTORS.Models.Caday>
@using Microsoft.EntityFrameworkCore;
@using VLUTUTORS.Models;
@{
    ViewData["Title"] = "Lịch Sử Học";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<div class="container-table mt-20 pb-20">
    <h3 style="text-align:center; margin-bottom:10px">Lịch Sử Học</h3>
    <div class="row" id="dropdown-filter">
        <div class="col d-flex mr-10 flex-wrap">
            <label class="form-label" for="min">Ngày bắt đầu:</label>
            <input type="text"
                   class="form-control-sm"
                   id="min"
                   name="min"
                   style="width: 150px" />
            <label class="form-label ml-1" for="max">Ngày kết thúc:</label>
            <input type="text"
                   id="max"
                   name="max"
                   class="form-control-sm"
                   style="width: 150px" />
        </div>
    </div>
    <table id="myTable" class="mt-100">
        <thead>
            <tr>
                <th class="text-center">Môn Học</th>
                <th class="text-center">Tên Gia Sư</th>
                <th class="text-center">Ngày Học</th>
                <th class="text-center">Khung Giờ</th>
                <th class="text-center">Giá Tiền</th>
                <th class="text-center">Trạng Thái</th>
                <th class="text-center">Đánh giá gia sư</th>
                <th class="text-center">Đánh giá của gia sư</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lesson in Model)
            {
                int year = lesson.NgayDay.Year;
                int month = lesson.NgayDay.Month;
                int day = lesson.NgayDay.Day;

                DateTime checkTime = new DateTime(year, month, day, lesson.GioBatDau, lesson.PhutBatDau, 0);
                if (checkTime < DateTime.Now && lesson.TrangThai != null)
                {
                    <tr>
                        <td>@lesson.tenMonDay</td>
                        <td class="text-center">@lesson.tenNguoiDay</td>
                        <td>@lesson.NgayDay.ToString("dd/MM/yyyy")</td>
                        <td class="text-center">@lesson.GioBatDau:@lesson.PhutBatDau - @lesson.GioKetThuc:@lesson.PhutKetThuc</td>
                        <td>@lesson.giaCaDay.ToString("#,##0.###") đồng</td>
                        @{
                            if (lesson.TrangThai == true)
                            {
                                <td class="done text-center" style="color:green">Đã Học</td>
                                var danhGiaGS = new CP25Team01Context().Danhgiagiasus.FirstOrDefault(m => m.IdCaDay == lesson.Id);
                                if (danhGiaGS != null)
                                {
                                    var modelName = "#danhGiaGS-" + danhGiaGS.Id;

                                    <td class="text-center"><button class="btn btn-success btn-sm" data-toggle="modal" data-target="@modelName" style="width:100px">Xem đánh giá</button></td>
                                }
                                else
                                {
                                    <td class="text-center"><a asp-controller="Meeting" asp-action="RatingTutor" asp-route-id="@lesson.Id" class="btn btn-warning btn-sm" style="width:100px">Đánh giá</a></td>
                                }
                                var danhGiaHV = new CP25Team01Context().Danhgianguoihocs.FirstOrDefault(m => m.IdCaDay == lesson.Id);
                                if (danhGiaHV != null)
                                {
                                    var modelName = "#danhGiaHV-" + danhGiaHV.Id;

                                    <td class="text-center"><button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="@modelName" style="width:100px">Xem đánh giá</button></td>
                                }
                                else
                                {
                                    <td class="text-center">Chưa đánh giá</td>
                                }
                            }
                            else
                            {
                                <td class="cancel text-center">Đã Huỷ</td>
                                <td class="text-center">Không có đánh giá</td>
                                <td class="text-center">Không có đánh giá</td>
                            }

                        }
                    </tr>
                }
            }
        </tbody>
    </table>
<!-- Modal -->
</div>
@foreach (var lesson in Model)
{
    var danhGiaGS = new CP25Team01Context().Danhgiagiasus.FirstOrDefault(m => m.IdCaDay == lesson.Id);
    var tieuChis = new CP25Team01Context().Tieuchidanhgias.ToList();
    if(danhGiaGS != null)
    {
        var modelName = "danhGiaGS-" + danhGiaGS.Id;
        var strTieuChi = string.Empty;
        @foreach (var tieuChiId in danhGiaGS.TieuChi.Split(";"))
        {
            var tieuChi = tieuChis.FirstOrDefault(it => it.IdTieuChi.ToString() == tieuChiId);
            if (tieuChi != null)
                strTieuChi += (string.IsNullOrEmpty(strTieuChi) ? string.Empty : ", ") + tieuChi.TieuChi;
        }
        <div class="modal fade" id="@modelName" tabindex="-1" role="dialog" aria-labelledby="@modelName" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết đánh giá</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Số sao</h4>
                        <p>
                            @danhGiaGS.Diem
                        </p>
                        <hr />
                        <h4>Tiêu chí đánh giá</h4>
                        <p>
                            @strTieuChi
                        </p>
                        <hr />
                        <h4>Khác</h4>
                        <p>
                            @danhGiaGS.DanhGia
                        </p>
                    </div>
                </div>
            </div>
        </div>

    }
}

@foreach (var lesson in Model)
{
    var danhGiaHV = new CP25Team01Context().Danhgianguoihocs.FirstOrDefault(m => m.IdCaDay == lesson.Id);
    var tieuChis = new CP25Team01Context().Tieuchidanhgias.ToList();
    if (danhGiaHV != null)
    {
        var modelName = "danhGiaHV-" + danhGiaHV.Id;
        var strTieuChi = string.Empty;
        @foreach (var tieuChiId in danhGiaHV.TieuChi.Split(";"))
        {
            var tieuChi = tieuChis.FirstOrDefault(it => it.IdTieuChi.ToString() == tieuChiId);
            if (tieuChi != null)
                strTieuChi += (string.IsNullOrEmpty(strTieuChi) ? string.Empty : ", ") + tieuChi.TieuChi;
        }
        <div class="modal fade" id="@modelName" tabindex="-1" role="dialog" aria-labelledby="@modelName" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết đánh giá</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Số sao</h4>
                        <p>
                            @danhGiaHV.Diem
                        </p>
                        <hr />
                        <h4>Tiêu chí đánh giá</h4>
                        <p>
                            @strTieuChi
                        </p>
                        <hr />
                        <h4>Khác</h4>
                        <p>
                            @danhGiaHV.DanhGia
                        </p>
                    </div>
                </div>
            </div>
        </div>

    }
}

@section scripts{
    <script>
        var minDate, maxDate;

        // Custom filtering function which will search data in column four between two values
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            let min = moment($('#min').val(), 'DD/MM/YYYY', true).isValid() ?
                moment($('#min').val(), 'DD/MM/YYYY', true).unix() :
                null;

            let max = moment($('#max').val(), 'DD/MM/YYYY').isValid() ?
                moment($('#max').val(), 'DD/MM/YYYY', true).unix() :
                null;
            var date = moment(data[2], 'DD/MM/YYYY', true).unix();

            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        });

        $(document).ready(function () {
            // Create date inputs
            minDate = new DateTime($('#min'), {
                format: 'DD/MM/YYYY',
            });
            maxDate = new DateTime($('#max'), {
                format: 'DD/MM/YYYY',
            });

            // DataTables initialisation
            var table = $('#myTable').DataTable();

            // Refilter the table
            $('#min, #max').on('change', function () {
                table.draw();
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#myTable_filter').prepend($('#dropdown-filter')).clone();
            $('#filter-fade').remove();
            $('#myTable_filter').css({ display: 'flex' });
            $('#myTable').css({ width: 'auto', borderCollapse: 'collapse' });
            
        });
    </script>
    @if (TempData["Message"] != null)
    {
        <script>
            var messageType = '@TempData["MessageType"]';
            var message = '@TempData["Message"]';

            // Display the message using Toastr library
            if (messageType === "success") {
                toastr.success(message);
            } else if (messageType === "error") {
                toastr.error(message);
            } else if (messageType === "warning") {
                toastr.warning(message);
            } else if (messageType === "info") {
                toastr.info(message);
            }
        </script>
    }
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
    <script src="~/js/app.js"></script>
    <script>
        $(function () {
            // Check for a success message in TempData
            var toastrSuccess = '@(TempData["toastr-success"])';
            if (toastrSuccess) {
                toastr.success(toastrSuccess);
            }

            // Check for an error message in TempData
            var toastrError = '@(TempData["toastr-error"])';
            if (toastrError) {
                toastr.error(toastrError);
            }
        });
    </script>
}