@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model VLUTUTORS.Models.Taikhoannguoidung

@{
    ViewData["Title"] = "Chi tiết tài khoản";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="main-body">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home" style="color: #ec6923;">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Thông tin cá nhân
                </li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->
        <form method="post" enctype="multipart/form-data" asp-controller="Accounts" asp-action="Details">
            <input type="hidden" asp-for="Id" />

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center avatar">
                                @if (TempData["avt"] != null)
                                {
                                    <img src="\@ViewData["image"]"
                                         class="rounded-circle"
                                         width="200"
                                         height="200" />
                                }
                                else
                                {
                                    <img src="@ViewData["image"]"
                                         class="rounded-circle"
                                         width="200"
                                         height="200" />
                                }

                                <div class="mt-3">
                                    <input style="width: 80px"
                                           type="file"
                                           name="avatar"
                                           accept=".jpg, .jpeg, .png" /><br />
                                    <span>Định dạng: .JPEG, .PNG</span>
                                </div>
                                <div class="mt-3">
                                    <h4>@Model.HoTen</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Email
                                </div>
                            </div>
                            <hr/>
                            <div class="row-profile">
                                <div class="col-sm-3 p-0 mt-1">
                                    <h6 class="mb-0">Giới Tính</h6>
                                </div>
                                @Html.DropDownListFor(model => model.IdgioiTinh, Model.GenderItems, new { @class = "profile-input" })
                            </div>
                            <hr />
                            <div class="row-profile">
                                <div class="col-sm-3 p-0 mt-1">
                                    <h6 class="mb-0">Ngày sinh</h6>
                                </div>
                                @Html.TextBoxFor(model => model.NgaySinh, "{0:dd/MM/yyyy}", new { @class = "profile-input" })
                            </div>
                            <hr />
                            <div class="row-profile">
                                <div class="col-sm-3 p-0 mt-1">
                                    <h6 class="mb-0">Số điện thoại</h6>
                                </div>
                                @Html.TextBoxFor(model => model.Sdt, "", new { @class = "profile-input" })
                            </div>
                            <hr />
                            <div class="row-profile">
                                <div class="col-sm-3 p-0 mt-1">
                                    <h6 class="mb-0">Mật khẩu mới</h6>
                                </div>
                                <input type="text" name="MatKhau" id="MatKhau" class="profile-input">
                            </div>
                            <hr />
                            <div class="row-profile">
                                <div class="col-sm-3 p-0 mt-1">
                                    <h6 class="mb-0">Xác nhận mật khẩu</h6>
                                </div>
                                <input type="text" name="ReMatKhau" id="ReMatKhau" class="profile-input">
                            </div>
                            <hr />
                            <div class="d-flex justify-content-end">
                                <a href='javascript:history.go(-1)' class="btn btn-secondary mr-3">Quay Lại</a>
                                <input type="submit" value="Lưu thay đổi" class="btn btn-success" @*onclick="popup()"*@ />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function popup() {
        alert('Cập nhật thành công!');
    }
    $('#myForm').on('submit', function (e) {
        e.preventDefault(); // Now nothing will happen
    });
</script>
