@model VLUTUTORS.Models.Noidung
@{
    ViewData["Title"] = "Về Chúng Tôi";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}
<section id="about-page" class="pt-10 pb-20">
    <div class="container">
        <div style="text-align:center; font-size:60px;"><b>VỀ CHÚNG TÔI</b></div>
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title mt-50">
                    <h2>Chào Mừng Đến Với VLU TUTORS</h2>
                </div>
                <!-- section title -->
                <div>
                    <p>
                        @Model.GioiThieu
                    </p>    
                </div>
            </div>
            <!-- about cont -->
            <div class="col-lg-7">
                <div class="about-image mt-50">
                    <img src="https://cntttest.vanlanguni.edu.vn:18081/CP25Team01/@Model.AnhGioiThieu" alt="About" />
                </div>
                <!-- about imag -->
            </div>
        </div>
        <!-- row -->
        <div class="about-items pt-60">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="about-singel-items mt-30">
                        <span>01</span>
                        <h4>@Model.TieuDeGt1</h4>
                        <p style="margin-bottom:10px;">
                            @Model.GioiThieu1
                        </p>
                    </div>
                    <!-- about singel -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="about-singel-items mt-30">
                        <span>02</span>
                        <h4>@Model.TieuDeGt2</h4>
                        <p style="margin-bottom:10px;">
                            @Model.GioiThieu2
                        </p>
                    </div>
                    <!-- about singel -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="about-singel-items mt-30">
                        <span>03</span>
                        <h4>@Model.TieuDeGt3</h4>
                        <p>
                            @Model.GioiThieu3
                        </p>
                    </div>
                    <!-- about singel -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- about items -->
    </div>
    <!-- container -->
</section>

