 @using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Liên Hệ";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<section id="contact-page" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-from">
                    <div class="section-title">
                        <h2>Liên hệ với chúng tôi</h2>
                    </div>
                    <!-- section title -->
                    <div class="main-form pt-45">
                        <form id="contact-form"
                              method="post"
                              data-toggle="validator" enctype="multipart/form-data" asp-controller="Home" asp-action="Contact">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        @{
                                            if (@httpContextAccessor.HttpContext.Session.GetString("loginName") != null)
                                            {
                                                <input name="Ten"
                                                       type="text"
                                                       value="@httpContextAccessor.HttpContext.Session.GetString("loginName")"
                                                       data-error="Vui lòng điền đủ thông tin."
                                                       required="required" />
                                                <div class="help-block with-errors"></div>
                                            }
                                            else
                                            {
                                                <input name="Ten"
                                                       type="text"
                                                       placeholder="Tên của bạn"
                                                       data-error="Vui lòng điền đủ thông tin."
                                                       required="required" />
                                                <div class="help-block with-errors"></div>
                                            }
                                        }
                                    </div>
                                    <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        @{
                                            if (@httpContextAccessor.HttpContext.Session.GetString("loginEmail") != null)
                                            {
                                                <input name="Email"
                                                       type="email"
                                                       value="@httpContextAccessor.HttpContext.Session.GetString("loginEmail")"
                                                       data-error="Vui lòng điền đủ thông tin."
                                                       required="required" />
                                                <div class="help-block with-errors"></div>
                                            }
                                            else
                                            {
                                                <input name="Email"
                                                       type="email"
                                                       placeholder="Email"
                                                       data-error="Vui lòng điền đủ thông tin."
                                                       required="required" />
                                                <div class="help-block with-errors"></div>
                                            }
                                        }
                                    </div>
                                    <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input name="Mon"
                                               type="text"
                                               placeholder="Môn học"
                                               data-error="Vui lòng điền đủ thông tin."
                                               required="required" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input name="SDT"
                                               type="text"
                                               placeholder="Điện thoại"
                                               data-error="Vui lòng điền đủ thông tin."
                                               required="required" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <!-- singel form -->
                                </div>
                                <div class="col-md-12">
                                    <div class="singel-form form-group">
                                        <textarea name="NoiDung"
                                                  placeholder="Vấn đề bạn gặp phải"
                                                  data-error="Vui lòng điền đủ thông tin."
                                                  required="required"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <!-- singel form -->
                                </div>
                                <div class="col-md-12">
                                    <div class="singel-form">
                                        <button type="submit" class="main-btn">Gửi liên hệ</button>
                                    </div>
                                    <!-- singel form -->
                                </div>
                            </div>
                            <!-- row -->
                        </form>
                    </div>
                    <!-- main form -->
                </div>
                <!--  contact from -->
            </div>
            <div class="col-lg-4">
                <div class="contact-address">
                    <div class="contact-heading">
                        <h5>
                            Nếu bạn có bất kỳ câu hỏi nào khác, vui lòng liên hệ với chúng tôi.
                        </h5>
                    </div>
                    <ul>
                        <li>
                            <div class="singel-address">
                                <div class="icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="cont">
                                    <p>
                                        @ViewData["diaChi"]
                                    </p>
                                </div>
                            </div>
                            <!-- singel address -->
                        </li>
                        <li>
                            <div class="singel-address">
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="cont">
                                    <p>
                                        @ViewData["Sdt"]
                                    </p>
                                </div>
                            </div>
                            <!-- singel address -->
                        </li>
                        <li>
                            <div class="singel-address">
                                <div class="icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="cont">
                                    <p>
                                        @ViewData["Email"]
                                    </p>
                                </div>
                            </div>
                            <!-- singel address -->
                        </li>
                        <li>
                            <div class="singel-address">
                                <div class="icon">
                                    <i class="fa-brands fa-facebook"></i>
                                </div>
                                <div class="cont">
                                    <p>
                                        @ViewData["Fb"]
                                    </p>
                                </div>
                            </div>
                            <!-- singel address -->
                        </li>
                    </ul>
                </div>
                <!-- contact address -->
            </div>
        </div>
        <!-- row -->
    </div>
    @if (TempData["message"] != null)
    {
        <script>alert('@TempData["message"]');</script>
    }
    <!-- container -->
</section>

