@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model VLUTUTORS.Models.Tuvan;
@using VLUTUTORS.Models;
@{
    ViewData["Title"] = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var noiDung = new CP25Team01Context().Noidungs.FirstOrDefault(m => m.Id == 1);
}

<!--====== SLIDER PART START ======-->
<section id="slider-part-3"
         class="bg_cover">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="slider-cont-3 text-center">
                    <h2>Chào Mừng Đến Với Gia Sư Văn Lang</h2>
                    <span>@noiDung.Slogan</span>
                </div>
                <!-- slider cont3 -->
            </div>
        </div>
        <!-- row -->
        <div class="slider-feature pt-30 d-none d-md-block">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="singel-slider-feature justify-content-center mt-30">
                        <div class="icon">
                            <img src="~/images/all-icon/man.png" alt="icon" />
                        </div>
                        <div class="cont">
                            <h3 class="counter">@ViewData["giaSU"]</h3>
                            <span>Gia Sư</span>
                        </div>
                    </div>
                    <!-- singel slider feature -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="singel-slider-feature justify-content-center mt-30">
                        <div class="icon">
                            <img src="~/images/all-icon/book.png" alt="icon" />
                        </div>
                        <div class="cont">
                            <h3 class="counter">@ViewData["monGiaSu"]</h3>
                            <span>Môn Học Khác Nhau</span>
                        </div>
                    </div>
                    <!-- singel slider feature -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="singel-slider-feature justify-content-center mt-30">
                        <div class="icon">
                            <img src="~/images/all-icon/expert.png" alt="icon" />
                        </div>
                        <div class="cont">
                            <h3 class="counter">@ViewData["hocVien"]</h3>
                            <span>Học Viên</span>
                        </div>
                    </div>
                    <!-- singel slider feature -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- slider feature -->
    </div>
    <!-- container -->
</section>

<!--====== SLIDER PART ENDS ======-->
<!--====== CATEGORY PART START ======-->
<section id="category-3" class="category-2-items pt-20 gray-bg">
    <div class="container">
        <h3>Các Môn Gia Sư:</h3>
        <div class="row-item">
            @{
                var monGiaSu = new CP25Team01Context().Mongiasus.ToList();
                foreach (var item in monGiaSu)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="singel-items text-center mt-30">
                            <div class="items-image">
                                <img src="~/images/category/bgcolor.jpg" alt="Category" />
                            </div>
                            <div class="items-cont">
                                <h5>@Html.DisplayFor(modeItem => item.TenMonGiaSu)</h5>
                            </div>
                        </div>
                        <!-- singel items -->
                    </div>
                }
            }
            <div class="col-lg-3 col-md-6">
                <div class="singel-items text-center mt-30">
                    <div class="items-image">
                        <img src="~/images/category/bgcolor.jpg" alt="Category" />
                    </div>
                    <div class="items-cont">
                        <h5>Coming soon</h5>
                    </div>
                </div>
                <!-- singel items -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>

<!--====== TEACHERS PART START ======-->

<section id="teachers-page" class="pt-50 pb-120 gray-bg">
    <div class="container">
        <h3>Gia Sư Nổi Bật</h3>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="singel-teachers mt-30 text-center">
                    <div class="image">
                        <img src="~/images/teachers/t-1.jpg" alt="Teachers" />
                    </div>
                    <div class="cont">
                        <a href="#"><h6>MarkMark alen</h6></a>
                        <span>Vice chencelor</span>
                    </div>
                </div>
                <!-- singel teachers -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="singel-teachers mt-30 text-center">
                    <div class="image">
                        <img src="~/images/teachers/t-2.jpg" alt="Teachers" />
                    </div>
                    <div class="cont">
                        <a href="teachers-singel.html"><h6>David card</h6></a>
                        <span>Pro chencelor</span>
                    </div>
                </div>
                <!-- singel teachers -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="singel-teachers mt-30 text-center">
                    <div class="image">
                        <img src="~/images/teachers/t-3.jpg" alt="Teachers" />
                    </div>
                    <div class="cont">
                        <a href="teachers-singel.html"><h6>Rebeka alig</h6></a>
                        <span>Pro chencelor</span>
                    </div>
                </div>
                <!-- singel teachers -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="singel-teachers mt-30 text-center">
                    <div class="image">
                        <img src="~/images/teachers/t-4.jpg" alt="Teachers" />
                    </div>
                    <div class="cont">
                        <a href="teachers-singel.html"><h6>Hanna bein</h6></a>
                        <span>Aerobics head</span>
                    </div>
                </div>
                <!-- singel teachers -->
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <nav class="courses-pagination mt-50">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a href="#" aria-label="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="active" href="#">1</a></li>
                        <li class="page-item"><a href="#">2</a></li>
                        <li class="page-item"><a href="#">3</a></li>
                        <li class="page-item">
                            <a href="#" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- courses pagination -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!--====== TEACHERS PART END ======-->
<!--====== CULTING PART START ======-->
<section>
    <div class="container">
        <div class="row align-items-center justify-content-center pt-20">
            <div class="col-lg-6">
                <div class="count-down-cont mt-50">
                    <img src="~/images/teacher-up-down.png" />
                </div>
                <!-- count down cont -->
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-8">
                <div class="category-form category-form-3 mt-150">
                    <div class="form-title text-center">
                        <h3>Đăng ký tư vấn</h3>
                        <span>Miễn phí </span>
                    </div>
                    <div class="main-form">
                        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="SendConsulting">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="singel-form">
                                @{
                                    if (@httpContextAccessor.HttpContext.Session.GetString("loginName") != null)
                                    {
                                        <input type="text" asp-for="HoVaTen" value="@httpContextAccessor.HttpContext.Session.GetString("loginName")" data-error="Vui lòng không để trống!." required="required" />
                                        <span asp-validation-for="HoVaTen" class="help-block with-errors" style="color:red"></span>
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="HoVaTen" placeholder="Họ và tên" data-error="Vui lòng không để trống!." required="required" />
                                        <span asp-validation-for="HoVaTen" class="help-block with-errors" style="color:red"></span>
                                    }
                                }
                            </div>
                            <div class="singel-form">
                                @{
                                    if (@httpContextAccessor.HttpContext.Session.GetString("loginEmail") != null)
                                    {
                                        <input type="email" asp-for="Email" value="@httpContextAccessor.HttpContext.Session.GetString("loginEmail")" data-error="Vui lòng nhập địa chỉ email hợp lệ. Định dạng email chính xác là example@gmail.com." required="required" />
                                        <span asp-validation-for="Email" class="help-block with-errors" style="color:red"></span>
                                    }
                                    else
                                    {
                                        <input type="email" asp-for="Email" placeholder="Email của bạn" data-error="Vui lòng nhập địa chỉ email hợp lệ. Định dạng email chính xác là example@gmail.com." required="required" />
                                        <span asp-validation-for="Email" class="help-block with-errors" style="color:red"></span>
                                    }
                                }
                            </div>
                            <div class="singel-form">
                                <input type="tel" asp-for="Sdt" placeholder="Điện thoại" data-error="Vui lòng không để trống!." required="required" />
                                <span asp-validation-for="Sdt" class="help-block with-errors" style="color:red"></span>
                            </div>
                            <div class="singel-form">
                                @*@Html.DropDownList("LoaiTuVan", (IEnumerable<SelectListItem>)ViewData["loaiTuVan"], "Loại Tư Vấn", new { @class = "nice-select mb-4", @required = "required", @style = "height: 60px; border: 1px solid #a1a1a1; color: #8a8a8a;" })*@
                                @Html.DropDownListFor(m => m.IdLoaiTuVan, (IEnumerable<SelectListItem>)ViewData["loaiTuVan"], "Chọn loại tư vấn", new { @class = "nice-select mb-4", @required = "required", @style = "height: 60px; border: 1px solid #a1a1a1; color: #8a8a8a;" })
                                <span asp-validation-for="IdLoaiTuVan" class="help-block with-errors" style="color:red"></span>
                            </div>
                            <div class="singel-form">
                                <input type="text" asp-for="NoiDungTuVan" placeholder="Nội dung cần tư vấn" data-error="Vui lòng không để trống!." required="required" />
                                <span asp-validation-for="NoiDungTuVan" class="help-block with-errors" style="color:red"></span>
                            </div>
                            <input type="hidden" asp-for="IdtrangThai" value="1" />
                            <div class="singel-form">
                                <button class="main-btn" type="submit">
                                    Đăng ký tư vấn
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- category form -->
            </div>
        </div>
        <!-- row -->
    </div>
    @if (TempData["Message"] != null)
    {
        <script>
            var messageType = '@TempData["MessageType"]';
        var message = '@TempData["Message"]';

        // Display the message using Toastr library
        if (messageType === "success") {
            toastr.success(message);
        } else if (messageType === "error") {
            toastr.error(message);
        } else if (messageType === "warning") {
            toastr.warning(message);
        } else if (messageType === "info") {
            toastr.info(message);
        }
        </script>
    }
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
    <script src="~/js/app.js"></script>
    <script>
        $(function () {
    // Check for a success message in TempData
    var toastrSuccess = '@(TempData["toastr-success"])';
    if (toastrSuccess) {
        toastr.success(toastrSuccess);
    }

    // Check for an error message in TempData
    var toastrError = '@(TempData["toastr-error"])';
    if (toastrError) {
        toastr.error(toastrError);
    }
});
    </script>

    <!-- container -->
</section>
<!--====== CULTING PART ENDS ======-->
