@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers*@
@model VLUTUTORS.Models.Caday
@{
    ViewData["Title"] = "EditLessonPlan";
    Layout = "~/Areas/Tutors/Views/Shared/_TutorsLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item">
                            <a href="#">Đăng ký lịch dạy</a>
                        </li>
                        <li class="breadcrumb-item active">Thông tin lịch dạy</li>
                    </ol>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row row-center">
            <div class="col">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Lịch dạy</h3>

                        <div class="card-tools">
                            <button type="button"
                                    class="btn btn-tool"
                                    data-card-widget="collapse"
                                    title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                     <form method="post" enctype="multipart/form-data" asp-controller="SignUpLessonPlan" asp-action="EditLessonPlan">
                        @Html.TextBoxFor(m => m.Id);
                        @Html.HiddenFor(m => m.IdnguoiDay)
                        <div class="form-group">
                                <label for="inputName">Tên môn gia sư</label>
                                 @Html.DropDownListFor(m => m.IdmonDay, Model.subjectItems, new { @class = "form__select" })
                                <span asp-validation-for="IdmonDay" class="warning"></span>
                            </div>
                            <div>
                                <label for="select-shifts">Loại ca dạy</label>
                                 @Html.DropDownListFor(m => m.IdloaiCaDay, Model.teachTimeItems, new { @class = "form__select" })
                                <span asp-validation-for="IdloaiCaDay" class="warning"></span>
                            </div>

                            <div class="form-group">
                                <label for="inputName">Ngày dạy</label>
                                <input type="date" id="inputName" name="inputDate" class="form-control" value="@Model.NgayDay.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="form-group">
                                <label for="">Chọn Khung Giờ</label>
                                <div id="divCont">
                                    <div class="input-flex">
                                        <input type="time"
                                               id="inputDate"
                                               name="inputHour"
                                               class="form-control form-date"
                                               value="@Model.GioBatDau.ToString("D2"):@Model.PhutBatDau.ToString("D2")" />         
                                    </div>
                                </div>
                            </div>
                              <div class="row float-right">
                                <div class="col">
                                    <a href="~/Tutors/SignUpLessonPlan" class="btn btn-secondary">Quay Lại</a>
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                    </form>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        @*<div class="row float-right">
            <div class="col">
                <a href="~/Tutors/SignUpLessonPlan" class="btn btn-secondary">Quay Lại</a>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </div>*@
        @*</form>*@
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->