@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model VLUTUTORS.Models.Caday
@{
    ViewData["Title"] = "EditLessonPlan";
    Layout = "~/Areas/Tutors/Views/Shared/_TutorsLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Tutors">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="~/Tutors/SignUpLessonPlan">Quản lý lịch dạy</a></li>
                    <li class="breadcrumb-item active">Chỉnh sửa lịch dạy</li>
                </ol>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <form method="post" enctype="multipart/form-data" asp-controller="SignUpLessonPlan" asp-action="EditLessonPlan">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IdnguoiDay" />
        <section class="content">
            <div class="container" style="margin-top: 20px; margin-bottom: 20px">
                <div class="main-body">
                    <div class="row gutters-sm">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h3>Chỉnh sửa lịch dạy</h3>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Tên môn gia sư</h6>
                                        </div>
                                        @Html.DropDownListFor(m => m.IdmonDay, Model.subjectItems, new { @class = "form__select" })
                                        <span asp-validation-for="IdmonDay" class="warning"></span>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Loại ca dạy</h6>
                                        </div>
                                        @Html.DropDownListFor(m => m.IdloaiCaDay, Model.teachTimeItems, new { @class = "form__select" })
                                        Phút
                                        <span asp-validation-for="IdloaiCaDay" class="warning"></span>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Ngày dạy</h6>
                                        </div>
                                        <input type="date" id="inputName" name="inputDate" class="form-control" value="@Model.NgayDay.ToString("yyyy-MM-dd")" />
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Khung giờ</h6>
                                        </div>
                                        <div id="divCont">
                                            <div class="input-flex">
                                                <input type="time"
                                                       id="inputDate"
                                                       name="inputHour"
                                                       class="form-control form-date"
                                                       value="@Model.GioBatDau.ToString("D2"):@Model.PhutBatDau.ToString("D2")" />
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    @if (TempData["Message"] != null)
                                    {
                                        <div class="alert alert-danger">@TempData["Message"]</div>}
                                    <div class="row">
                                        <div class="col-12 flex-right mb-4">
                                            <a href='javascript:history.go(-1)' class="btn btn-secondary mr-3">Quay Lại</a>
                                            <input type="submit" value="Lưu" class="btn btn-success" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <!-- /.content -->
</div>
<!-- /.content-wrapper -->