@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<VLUTUTORS.Models.Caday, IEnumerable<VLUTUTORS.Models.Caday>>
@{
    ViewData["Title"] = "Đăng ký ca dạy";
    Layout = "~/Areas/Tutors/Views/Shared/_TutorsLayout.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-between">
                <div class="col-auto mr-auto"><h1>Quản lý lịch dạy</h1></div>
                <button data-toggle="modal"
                        data-target="#exampleModal"
                        class="col-auto btn-success">
                    Thêm lịch dạy
                </button>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- modal Add -->
    <div class="modal fade"
         id="exampleModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form asp-action="AddLessonPlan" asp-controller="SignUpLessonPlan" method="post">
            @Html.HiddenFor(m => m.Item1.IdnguoiDay)
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Thêm lịch dạy
                        </h5>
                        <button type="button"
                                class="close text-right"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="inputName">Tên môn gia sư</label>
                                @Html.DropDownListFor(m => m.Item1.IdmonDay, Model.Item1.subjectItems, new { @class = "form__select" })
                                <span asp-validation-for="Item1.IdmonDay" class="warning"></span>
                            </div>
                            <div>
                                <label for="select-shifts">Loại ca dạy</label>
                                @Html.DropDownListFor(m => m.Item1.IdloaiCaDay, Model.Item1.teachTimeItems, new { @class = "form__select" })
                                <span asp-validation-for="Item1.IdloaiCaDay" class="warning"></span>
                            </div>

                            <div class="form-group">
                                <label for="inputName">Ngày dạy</label>
                                <input type="date" id="inputName" name="inputDate" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="">Chọn Khung Giờ</label>
                                <div id="divCont">
                                    <div class="input-flex">
                                        <input type="time"
                                               id="inputHour"
                                               name="inputHour"
                                               class="form-control form-date" />
                                        <input onclick="AddTextBox()" type="button" value="+" class="btn-add" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            Hủy
                        </button>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <table id="myTable">
            <thead>
                <tr>
                    <th>Tên Môn Học</th>
                    <th>Ngày</th>
                    <th>Khung Giờ</th>
                    <th>Ca dạy</th>
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-danger">@TempData["Message"]</div>
                    }
                    <th class="th-action"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lesson in Model.Item2)
                {
                    <tr>
                        <td>@lesson.tenMonDay</td>
                        <td>@lesson.NgayDay.ToString("dd/MM/yyyy")</td>
                        <td>@lesson.GioBatDau:@lesson.PhutBatDau - @lesson.GioKetThuc:@lesson.PhutKetThuc</td>
                        <td>@lesson.tenLoaiCaDay phút</td>
                        <td class="project-actions text-right">

                            <a class="btn btn-info btn-sm" href="@Url.Action("EditLessonPlan", "SignUpLessonPlan", new { lessonPlanId = @lesson.Id})">
                                <i class="fas fa-pencil-alt"> </i>
                                Sửa
                            </a>
                            <a class="btn btn-danger btn-sm" 
                               data-toggle="modal"
                               data-target="#deleteModal"
                               onclick="document.getElementById('lessonPlanId').value = @lesson.Id">
                                <i class="fas fa-pencil-alt"> </i>
                                Xóa
                            </a>
                    </tr>
                }
            </tbody>
        </table>

        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <form asp-action="DeleteLessonPlan" method="post" asp-controller="SignUpLessonPlan">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Bạn muốn xóa ca dạy này?</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Hủy
                    </button>
                    <button class="btn btn-primary" type="submit">
                        Đồng ý
                    </button>
                </div>
            </div>
        </div>
        <input type="hidden" id="lessonPlanId" name="lessonPlanId" />
    </form>
</div>
<script type="text/javascript">
    function getDynamicTextBox(value) {
        return '<div class="input-flex" style="margin-top:5px"><input type="time" id = "inputHour" name = "inputHour" class="form-control form-date"/><input onclick ="RemoveTextBox(this)" type ="button" value ="X" class="btn-delete" style="width:38px; height:38px"/></div>'
    }
    function AddTextBox() {
        var div = document.createElement('DIV');
        div.innerHTML = getDynamicTextBox("");
        document.getElementById("divCont").appendChild(div);
    }
    function RemoveTextBox(div) {
        document.getElementById("divCont").removeChild(div.parentNode.parentNode);
    }
</script>