@model IEnumerable<VLUTUTORS.Models.Baikiemtra>

@{
    ViewData["Title"] = "Bài đánh giá gia sư";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
    var count = 1;
}

<form method="post" enctype="multipart/form-data" asp-controller="TutorTraining" asp-action="DoTest">
    <div class="container my-3">
        <h1 class="my-3">Đánh giá năng lực gia sư</h1>
        @foreach (var item in Model)
        {
            int i = count - 1;
            <div class="quiz-title my-4 mx-3">
                <h4>@item.CauHoi</h4>
            </div>
            <div class="quiz-content mx-3 mb-4">
                <div class="d-contents">
                    <input type="checkbox" name="[@i].aChecked" value="a" id="a">
                    <label class="lb-question" for="A">A. @item.DapAnA</label>
                </div>
                <div class="d-contents">
                    <input type="checkbox" name="[@i].bChecked" value="b" id="b">
                    <label class="lb-question" for="B">B. @item.DapAnB</label>
                </div>
                <div class="d-contents">
                    <input type="checkbox" name="[@i].cChecked" value="c" id="c">
                    <label class="lb-question" for="C">C. @item.DapAnC</label>
                </div>
                <div class="d-contents">
                    <input type="checkbox" name="[@i].dChecked" value="d" id="d">
                    <label class="lb-question" for="D">D. @item.DapAnD</label>
                </div>
            </div>
            count++;
        }
        <div class="d-flex justify-content-end"><button id="btn_Submit" class="main-btn" type="submit">Nộp bài</button></div>

    </div>
</form>

<script>
    function popup() {
        alert('Điểm đã được gửi đi, vui lòng chờ mail thông báo!');
    }
        $('#myForm').on('submit', function (e) {
            e.preventDefault(); // Now nothing will happen
        });
</script>



