@model VLUTUTORS.Models.Khoadaotao
@{
    ViewData["Title"] = "Đào tạo gia sư";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}
<form method="post" enctype="multipart/form-data" asp-controller="TutorTraining" asp-action="Index">
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6">
                <div class="course-wrapper">
                    <div class="course-title-wrapper">
                        <div class="course-title ml-4">
                            <h2>Khóa đào tạo gia sư</h2>
                        </div>
                    </div>
                    <div class="course-content my-4">
                        @{
                            var index = 0;
                            foreach (var item in @Model.courses)
                            {
                                index++;
                                <button type="submit" class="course-item" name="courseName" value="@item"><p class="course-title">Bài @index : @item.ToString()</p></button>
                                <br>
                            }
                        }
                    </div>
                    @if (Model.TaiLieu != null)
                    {
                        <div class="row-nowrap">
                            <div class="course-file">
                                <h6 class="course-title">File Bài Giảng</h6>
                            </div>
                            @foreach (var file in Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(Model.TaiLieu))
                            {
                                <p style="padding-left:2.00em;">@Html.ActionLink(file + "  ", "DownloadFile", new {courseName = Model.IdBaiHoc, fileName = file})</p>
                            }
                        </div>
                    }
                </div>
            </div>
            @if(@Model.courseLink != null)
            {
                <div class="col-md-6">
                <div class="course-video">
                    @foreach(var link in Model.courseLink)
                    {
                        <iframe style="margin-bottom: 20px" width="560" height="315" src=@link frameborder="0" allowfullscreen></iframe>
                    }
                </div>
                </div>
            }
            

            
        </div>
        @if (@Model.currentScore != null)
        {
            <div class="input-wrapper">
                <label class="lb-form">Điểm hiện tại: <h4 style="color:red">@Model.currentScore</h4></label>
            </div>
        }
        @if (Model.currentScore <= 7 || Model.currentScore == null)
        {
            <a class="main-btn mt-5 mb-5" href="@Url.Action("DoTest", "TutorTraining")">Bài kiểm tra cuối khóa học</a>
        }
        else
        {
            <h6 style="color:green">Bạn đã đạt đủ điểm để xét duyệt, vui lòng chờ thông báo qua Email</h6>
        }
    </div>
    @if (TempData["message"] != null)
    {
        <script>alert('@TempData["message"]');</script>
    }

</form>
@if (TempData["Message"] != null)
{
    <script>
        var messageType = '@TempData["MessageType"]';
        var message = '@TempData["Message"]';

        // Display the message using Toastr library
        if (messageType === "success") {
            toastr.success(message);
        } else if (messageType === "error") {
            toastr.error(message);
        } else if (messageType === "warning") {
            toastr.warning(message);
        } else if (messageType === "info") {
            toastr.info(message);
        }
    </script>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
<script src="~/js/app.js"></script>
<script>
    $(function () {
        // Check for a success message in TempData
        var toastrSuccess = '@(TempData["toastr-success"])';
        if (toastrSuccess) {
            toastr.success(toastrSuccess);
        }

        // Check for an error message in TempData
        var toastrError = '@(TempData["toastr-error"])';
        if (toastrError) {
            toastr.error(toastrError);
        }
    });
    function search(id) {
        const form = document.getElementById(`form-${id}`)
        console.log(form)
        $(`#form-${id}`).submit()
    }
</script>
