@model VLUTUTORS.Models.Khoadaotao
@{
    ViewData["Title"] = "Đào tạo gia sư";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}
<form method="post" enctype="multipart/form-data" asp-controller="TutorTraining" asp-action="Index">
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6">
                <div class="course-wrapper">
                    <div class="course-title-wrapper">
                        <div class="course-title ml-4">
                            <h2>Khóa đào tạo gia sư</h2>
                        </div>
                    </div>
                    <div class="course-content my-4">
                        @{
                            var index = 0;
                            foreach (var item in @Model.courses)
                            {
                                index++;
                                <button type="submit" class="course-item" name="courseName" value="@item"><p class="course-title">Bài @index : @item.ToString()</p></button>
                                <br>
                            }
                        }
                    </div>
                </div>
            </div>
            @if (@Model.courseLink != null)
            {
                <div class="col-md-6">
                    <div class="course-video">
                        @foreach (var link in Model.courseLink)
                        {
                            <iframe width="560" height="315" src=@link frameborder="0" allowfullscreen></iframe>
                        }
                    </div>
                </div>
            }

            @if (Model.TaiLieu != null)
            {
                <div class="row-nowrap">
                    <div class="col-sm-3">
                        <h6 class="mb-0">File Bài Giảng</h6>
                    </div>
                    @foreach (var file in Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(Model.TaiLieu))
                    {
                        <p style="padding-left:2.00em;">@Html.ActionLink(file + "  ", "DownloadFile", new { fileName = file })</p>
                    }
                </div>
            }

        </div>
        @if (@Model.currentScore != null)
        {
            <div class="input-wrapper">
                <label class="lb-form">Điểm hiện tại: <h4 style="color:red">@Model.currentScore</h4></label>
            </div>
        }
        @if (Model.currentScore <= 7 || Model.currentScore == null)
        {
            <a class="main-btn" href="@Url.Action("DoTest", "TutorTraining")">Bài kiểm tra cuối khóa học</a>
        }
        else
        {
            <h6 style="color:green">Bạn đã đạt đủ điểm để xét duyệt, vui lòng chờ thông báo qua Email</h6>
        }
    </div>
    @if (TempData["message"] != null)
    {
        <script>alert('@TempData["message"]');</script>
    }

</form>
