@model VLUTUTORS.Models.Khoadaotao
@{
    ViewData["Title"] = "Đào tạo gia sư";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}
<form method="post" enctype="multipart/form-data" asp-controller="TutorTraining" asp-action="Index">
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6">
                <div class="course-wrapper">
                    <div class="course-title-wrapper">
                        <div class="course-title ml-4">
                            <h2>Khóa đào tạo gia sư</h2>
                        </div>
                    </div>
                    <div class="course-content my-4">
                        @{
                            var index = 0;
                            foreach (var item in @Model.courses)
                            {
                                index++;
<<<<<<< HEAD
                                <button type="submit" class="course-item" name="courseName" value="@item"><p class="course-title">Bài @index : @item.ToString()</p></button><br>
=======
                                <button type="submit" class="course-item" name="courseName" value="@item"><p class="course-title">Bài @index : @item.ToString()</p></button>
                                <br>
>>>>>>> 118d89798c2c5d2979c84bc1c054f23bd4a8115a
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="course-video">
                    <iframe width="560" height="315" src=@ViewData["link"] frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        @if(@Model.currentScore == null || @Model.currentScore == 0)
        {
            <div class="input-wrapper">
                <label class="lb-form">Điểm hiện tại:</label>
                @Html.TextBoxFor(m => m.currentScore, new { @readonly = true })
            </div>
        }
        else
        {
             <div class="input-wrapper">
                <label class="lb-form">Điểm hiện tại:</label>
                @Html.TextBoxFor(m => m.currentScore, new { @readonly = true })
            </div>
        }
        @if(Model.currentScore <= 7)
        {
            <a class="main-btn" href="@Url.Action("DoTest", "TutorTraining")">Bài kiểm tra cuối khóa học</a>
        }
        else
        {
             <label class="lb-form">Bạn đã đạt đủ điểm để xét duyệt</label>
        }
    </div>

</form>

