@model IEnumerable<VLUTUTORS.Models.Khoadaotao>
@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý khóa đào tạo";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý khóa đào tạo</h1>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách khóa đào tạo</h3>
                <div class="card-tools">
                    <a class="btn btn-primary btn-sm"
                       href="~/Admin/ManageCourse/AddLesson">
                        <i class="fas fa-plus"> </i>
                        Thêm bài học dạng video
                    </a>
                    <a class="btn btn-primary btn-sm"
                       href="~/Admin/ManageCourse/AddLessonFile">
                        <i class="fas fa-plus"> </i>
                        Thêm bài học dạng file
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 10%">STT</th>
                            <th style="width: 20%">Tên bài học</th>
                            <th style="width: 15%">Link bài học</th>
                            <th style="width: 15%">Tên tệp tài liệu</th>
                            <th style="width: 15%">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 0;
                            foreach (var item in Model)
                            {
                                index++;
                                <tr>
                                    <td>@index</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenBaiHoc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Link)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TaiLieu)
                                    </td>
                                    <td class="project-actions">
                                        <a class="btn btn-info btn-sm"
                                   asp-action="EditLesson" asp-controller="ManageCourse" asp-route-id="@item.IdBaiHoc">
                                            <i class="fas fa-pencil-alt"> </i>
                                            Sửa
                                        </a>
                                        <a class="btn btn-danger btn-sm"
                                       data-toggle="modal"
                                       data-target="#exampleModal">
                                            <i class="fas fa-trash"> </i>
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Modal -->
<div class="modal fade"
     id="exampleModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Bạn muốn xóa bài học này?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Hủy
                </button>
                <button class="btn btn-primary" type="button" onclick="location.href='#'">
                    Đồng ý
                </button>
            </div>
        </div>
    </div>
</div>

