@model IEnumerable<VLUTUTORS.Models.Khoadaotao>
@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý khóa đào tạo";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-center text-center text-uppercase">
                <div class="col-sm-6">
                    <h1>Quản lý khóa đào tạo gia sư</h1>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách bài học</h3>
                <div class="card-tools">
                    <a class="btn btn-primary btn-sm"
                       href="~/Admin/ManageCourse/AddLesson">
                        <i class="fas fa-plus"> </i>
                        Thêm bài học
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects" id="myTable">
                    <thead>
                        <tr>
                            <th style="width: 10%">STT</th>
                            <th style="width: 20%">Tên bài học</th>
                            <th style="width: 15%">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 0;
                            foreach (var item in Model)
                            {
                                index++;
                                <tr>
                                    <td>@index</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenBaiHoc)
                                    </td>
                                    <td class="project-actions">
                                        <a class="btn btn-info btn-sm"
                                           asp-action="EditLesson" asp-controller="ManageCourse" asp-route-id="@item.IdBaiHoc">
                                            <i class="fas fa-pencil-alt"> </i>
                                            Sửa
                                        </a>
                                        <a class="btn btn-danger btn-sm"
                                           data-toggle="modal"
                                           data-target="#exampleModal"
                                           onclick="document.getElementById('hdInput').value = @item.IdBaiHoc">
                                            <i class="fas fa-trash"> </i>
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Modal -->
@if (TempData["Message"] != null)
{
    <script>
            var messageType = '@TempData["MessageType"]';
        var message = '@TempData["Message"]';

        // Display the message using Toastr library
        if (messageType === "success") {
            toastr.success(message);
        } else if (messageType === "error") {
            toastr.error(message);
        } else if (messageType === "warning") {
            toastr.warning(message);
        } else if (messageType === "info") {
            toastr.info(message);
        }
    </script>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
<script src="~/js/app.js"></script>
<script>
        $(function () {
    // Check for a success message in TempData
    var toastrSuccess = '@(TempData["toastr-success"])';
    if (toastrSuccess) {
        toastr.success(toastrSuccess);
    }

    // Check for an error message in TempData
    var toastrError = '@(TempData["toastr-error"])';
    if (toastrError) {
        toastr.error(toastrError);
    }
});
</script>
<div class="modal fade"
     id="exampleModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form asp-action="DeleteLesson" method="post" asp-controller="ManageCourse">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Bạn muốn xóa bài học này?</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Hủy
                    </button>
                    <button class="btn btn-primary" type="submit">
                        Đồng ý
                    </button>
                </div>
            </div>
        </div>
        <input type="hidden" id="hdInput" name="hdInput" />
    </form>
</div>
